/* ====================================================================================================================
/* Backgrounds
/* ====================================================================================================================*/

.bg-dark {
  background: $color-dark;
  padding: $unit;
  text-align: center;

  p {
    color: $color-white;
  }
}

.bg-normal {
  background: $color-primary;
  padding: $unit;
  text-align: center;

  p {
    color: $color-white;
  }
}
