.emphasized {
  font-weight: 600;
}

.cancelled {
  text-decoration: line-through;
}

.taj {
  text-align: justify;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.vam {
  vertical-align: middle;
}

.dis-block {
  display: block;
}

.flex-vam {
  @include media('>tablet') {
    display: flex;
    align-items: center;
    //justify-content: center;
  }
}

// anchor workaround
p[id] {
  margin: -80px 0 0;
  padding: 80px 0 0;
}