/* ====================================================================================================================
/* Margins
/* ====================================================================================================================*/

.mtn,
.mvn,
.man {
  margin-top: 0;
}

.mts,
.mvs,
.mas {
  margin-top: $unit/2;
}

.mtm,
.mvm,
.mam {
  margin-top: $unit;
}

.mtl,
.mvl,
.mal {
  margin-top: $unit*2.5;
}

.mtxl,
.mvxl,
.maxl {
  margin-top: $unit*5;
}

.mrn,
.man {
  margin-right: 0;
}

.mrs,
.mas {
  margin-right: $unit/2;
}

.mrm,
.mam {
  margin-right: $unit;
}

.mrl,
.mal {
  margin-right: $unit*2.5;
}

.mrxl,
.maxl {
  margin-right: $unit*5;
}

.mbn,
.mvn,
.man {
  margin-bottom: 0;
}

.mbs,
.mvs,
.mas {
  margin-bottom: $unit/2;
}

.mbm,
.mvm,
.mam {
  margin-bottom: $unit;
}

.mbl,
.mvl,
.mal {
  margin-bottom: $unit*2.5;
}

.mbxl,
.mvxl,
.maxl {
  margin-bottom: $unit*5;
}

.mln,
.man {
  margin-left: 0;
}

.mls,
.mas {
  margin-left: $unit/2;
}

.mlm,
.mam {
  margin-left: $unit;
}

.mll,
.mal {
  margin-left: $unit*2.5;
}

.mlxl,
.maxl {
  margin-left: $unit*5;
}