/* ====================================================================================================================
/* Paddings
/* ====================================================================================================================*/

.ptn,
.pvn,
.pan {
  padding-top: 0;
}

.pts,
.pvs,
.pas {
  padding-top: $unit/2;
}

.ptm,
.pvm,
.pam {
  padding-top: $unit;
}

.ptl,
.pvl,
.pal {
  padding-top: $unit*2.5;
}

.ptxl,
.pvxl,
.paxl {
  padding-top: $unit*5;
}

.prn,
.phn,
.pan {
  padding-right: 0;
}

.prs,
.pas {
  padding-right: $unit/2;
}

.prm,
.pam {
  padding-right: $unit;
}

.prl,
.pal {
  padding-right: $unit*2.5;
}

.prxl,
.paxl {
  padding-right: $unit*5;
}

.pbn,
.pvn,
.pan {
  padding-bottom: 0;
}

.pbs,
.pvs,
.pas {
  padding-bottom: $unit/2;
}

.pbm,
.pvm,
.pam {
  padding-bottom: $unit;
}

.pbl,
.pvl,
.pal {
  padding-bottom: $unit*2.5;
}

.pbxl,
.pvxl,
.paxl {
  padding-bottom: $unit*5;
}

.pln,
.pan {
  padding-left: 0;
}

.pls,
.pas {
  padding-left: $unit/2;
}

.plm,
.pam {
  padding-left: $unit;
}

.pll,
.pal {
  padding-left: $unit*2.5;
}

.plxl,
.paxl {
  padding-left: $unit*5;
}

