/* ====================================================================================================================
/* Grid
/* ====================================================================================================================*/

.section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px 16px;
  max-width: $wide;
  @include clearfix;

  &-fullwidth {
    max-width: 100%;

    .row {
      max-width: $wide;
      float: none;
      margin: 0 auto;
    }
  }
}

.row {
  width: 100%;
  float: left;
  margin: 0 auto;
  //background: yellow;
}

.col {
  width: 100%;
  float: left;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
}

@include media (">tablet") {
  .section {
    padding: 40px 60px;
  }
}

@include  media(">mobile"){

  .col-3-sm {
    &.col {
      width: calc(25% - 20px);
    }
    width: 25%;
  }

  .col-4-sm {
    &.col {
      width: calc(33.33% - 20px);
    }
    width: 33.33%;
  }

  .col-6-sm {
    &.col {
      width: calc(50% - 20px);
    }
    width: 50%;
  }

  .col-8-sm {
    &.col {
      width: calc(66.66% - 20px);
    }
    width: 66.66%;
  }
}

@include media (">tablet") {

  .row {
    margin-left: -10px;
    @include clearfix();
  }

  .col {
    margin-left: 20px;
  }

  .col-1 {
    &.col {
      width: calc(8.33% - 20px);
    }
    width: 8.33%;
  }

  .col-2 {
    &.col {
      width: calc(16.66% - 20px);
    }
    width: 16.66%;
  }

  .col-3 {

    &.col {
      width: calc(25% - 20px);
    }
    width: 25%;
  }

  .col-4 {
    &.col {
      width: calc(33.33% - 20px);
    }
    width: 33.33%;
  }

  .col-5 {

    &.col {
      width: calc(41.66% - 20px);
    }
    width: 41.66%;
  }

  .col-6 {
    &.col {
      width: calc(50% - 20px);
    }
    width: 50%;
  }

  .col-7 {
    &.col {
      width: calc(58.33% - 20px);
    }
    width: 58.33%;
  }

  .col-8 {
    &.col {
      width: calc(66.66% - 20px);
    }
    width: 66.66%;
  }

  .col-9 {
    &.col {
      width: calc(75% - 20px);
    }
    width: 75%;
  }

  .col-10 {
    &.col {
      width: calc(83.33% - 20px);
    }
    width: 83.33%;
  }

  .col-11 {
    &.col {
      width: calc(91.66% - 20px);
    }
    width: 91.66%;
  }

  .col-12 {
    &.col {
      width: calc(100% - 20px);
    }
    width: 100%;
  }

  // Offset

  .offset-1 {
    margin-left: calc(8.33% + 20px);
  }

  .offset-2 {
    margin-left: calc(16.66% + 20px);
  }

  .offset-3 {
    margin-left: calc(25% + 20px);
  }

  .offset-4 {
    margin-left: calc(33.33% + 20px);
  }

  .offset-5 {
    margin-left: calc(41.66% + 20px);
  }

  .offset-6 {
    margin-left: calc(50% + 20px);
  }

  .offset-7 {
    margin-left: calc(58.33% + 20px);
  }

  .offset-8 {
    margin-left: calc(66.66% + 20px);
  }

  .offset-9 {
    margin-left: calc(75% + 20px);
  }

  .offset-10 {
    margin-left: calc(83.33% + 20px);
  }

  .offset-11 {
    margin-left: calc(91.66% + 20px);
  }

  .offset-12 {
    margin-left: calc(100% + 20px);
  }
}
