/* ====================================================================================================================
/* Grids
/* ====================================================================================================================*/

@font-face {
  font-family: icomoon;
  src: url('webfonts/icomoon.eot');
  src:
  url('webfonts/icomoon.eot') format('embedded-opentype'),
  url('webfonts/icomoon.ttf') format('truetype'),
  url('webfonts/icomoon.woff') format('woff'),
  url('webfonts/icomoon.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:  $unit*3;
  height:  $unit*3;
  line-height: 0;
  font-size: $unit*3;
  position: relative;
}

.icon-down:before {
  content: "\e90d";
}

.icon-cta:before {
  content: "\e902";
}

.icon-bin:before {
  content: "\e900";
}

.icon-check:before {
  content: "\e901";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-linkedin:before {
  content: "\e904";
}

.icon-no-feature:before {
  content: "\e905";
}

.icon-repeat:before {
  content: "\e906";
}

.icon-send:before {
  content: "\e907";
}

.icon-success:before {
  content: "\e908";
}

.icon-twitter:before {
  content: "\e909";
}

.icon-upload:before {
  content: "\e90a";
}

.icon-warning:before {
  content: "\e90b";
}

.icon-xing:before {
  content: "\e90c";
}

.icon-menu:before {
  content: "\e90f";
}

//icon tel just on mobile

.icon-tel:before {
  content: "\e90e";
  width: 24px;
  height: 24px;
  line-height: 0;
  font-size: 24px;
  top: 4px;
  position: relative;
}

.icon-menu {
  top: 22px;
  left:6px;
}
