/* ====================================================================================================================
/* Typography
/* ====================================================================================================================*/
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:600&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-font;
  background-color: $color-white;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
a.btn {
  font-family: 'Montserrat', Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 600;
  color: #3f3f3f;
}

h1,
.h1 {
  font-size: $unit*5;
  line-height: $unit*6;

  @include media ('>tablet') {
    font-size: $unit*6;
    line-height: $unit*7;
  }
}

h2,
.h2 {
  font-size: 28px;
  line-height: $unit*4;

  @include media ('>tablet') {
    font-size: $unit*5;
    line-height: $unit*6;
  }
}

h3,
.h3 {
  font-size: $unit*4;
  line-height: $unit*5;
}

h4,
.h4 {
  font-size: $unit*3;
  line-height: $unit*4;
}

h5,
.h5 {
  font-size: $unit*2.5;
  line-height: $unit*4;
}

p,
input,
li,
select,
textarea {
  font-size: $unit*2.5;
  line-height: $unit*4;
  color: $color-font;
}

.small-note {
    font-size: $unit*2;
    line-height: $unit*4;
}

/* Text markup */

a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
}

p > a:not(.btn),
strong a,
.listed-link a {
  display: inline;
  position: relative;
  text-decoration: none;
  @include transition(all .3s ease-in-out);

  &:before {
    content: '';
    background: $color-primary;
    display: block;
    position: absolute;
    height: 2px;
    bottom: -2px;
    left: -3px;
    right: -3px;
    z-index: -1;
    @include transition(all .3s ease-in-out);
  }

  &:hover {
    color: $color-white;
    @include transition(all .1s ease-in-out);

    &:before {
      @include transition(all .1s ease-in-out);
      background: $color-active;
      height: 100%;
    }
  }
}

label {
  font-size: 14px;
  line-height: 20px;
}

ul,
ol {
  li {
    padding: $unit/2 0 0;
    margin: 0 0 0 $unit*4;;
    list-style-type: none;
  }

  &.numbered {
    li {
      list-style: decimal;
    }
  }

  &.disc {
    li {
      list-style: disc;
    }
  }

  &.menu {
    li {
      margin-left: 0;
      font-size: $unit*2;
      line-height: $unit*3;
      padding: 0;
    }
  }
}

p + h3 {
  margin-top: $unit*3;
}

p + h4 {
  margin-top: $unit*2;
}

h2 + p,
h3 + p,
h4 + p {
  margin-top: $unit;
}

h1 + h2,
h1 + p {
  margin-top: $unit*3;
}

img {
  line-height: 0;
}
