/* ====================================================================================================================
/* reset css
/* ====================================================================================================================*/

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
}

li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
video {
  display: block;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

i {
  font-style: normal;
}

a:link,
a:visited,
a:active,
a:focus,
a:hover,
button {
  outline: 0;
}

picture > img {
  display: block;
}
