/* ====================================================================================================================
/* All variables
/* colors, units, media queries
/* ====================================================================================================================*/

// media queries
$mobile: 480px;
$tablet: 768px;
$phablet: 980px;
$desktop: 1024px;
$monitor: 1280px;
$wide: 1440px;

$unit: 8px;
$unit-grid-gutter: 20px;

// default
$color-white: #fff;
$color-light: #ededed;
$color-grey-light: #edf2f5;
$color-grey-dark: #aeaeae;
$color-font: #333;
$color-inactive: #d0d0d0;
$color-active: tomato;
$color-highlight: yellow;

// ELEGANT
$color-yellow: #f7f181;
$color-yellow: rgb(252, 221, 78);
$color-red: #f76c6c;
$color-red-dark: #cc5a5a;
$color-blue-light: #a8d0e6;
$color-blue: #324380;
$color-blue-dark: #27335c;

$color-light: $color-blue-light;
$color-primary: $color-blue;
$color-dark: $color-blue-dark;
$color-active: $color-red;
$color-highlight: $color-yellow;
$color-background: $color-white;

$color-presseportal: #008264;
$color-ots: #48d74b;
$color-zimpel: #fd0;
$color-studio: #2e52ff;
$color-webconnect: #008c95;
$color-international: #6ad1e3;
$color-blog: #ff562f;
$color-startup: #ff9d35;

// modal or divider
//$color-border: mix($color-font, $color-pearl, 15%);
//$color-border-2: #ddd;
//$color-error: #f04848;
//$color-success: #43b581;
// shadow
//$color-shadow: rgba(0, 0, 0, .3);

