/* Print */
.pt-only {
  display: none;
}

@include media('print') {

  body {
    display: block;
    page-break-before: avoid;
    page-break-after: avoid;
    page-break-inside: avoid;
    position: relative;
  }

  .job-position {
    padding-top: 30px !important;
    margin: 0;
    display: block;
    page-break-after: avoid;
    position: relative;

    &:before {
      display: block;
      page-break-after: avoid;
      position: relative;
    }

    h3 {
      font-size: 20px;
      padding-top: 30px !important;
    }

    .font-precise {
      font-size: 16px;
    }

    .mtxl,
    .mvxl {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    .pbxxl {
      padding-bottom: 0 !important;
    }

    .columns {
      float: none;
    }

    ul,
    li {
      list-style: disc;
      padding: 5px 0 0 !important;
      margin: 0 0 0 15px !important;
    }
  }

  .pt-only {
    display: block;
    padding-top: 30px !important;
    page-break-after: avoid;
    position: relative;
  }

  .no-print,
  .pt-hidden {
    display: none !important;
  }

  .pt-break-before,
  .pt-no-break,
  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  li {
    page-break-before: avoid;
    page-break-inside: avoid;
    page-break-after: avoid;
  }
}
