@charset "UTF-8";
/* ====================================================================================================================
/* All variables
/* colors, units, media queries
/* ====================================================================================================================*/
/* ====================================================================================================================
/* All variables
/* colors, units, media queries
/* ====================================================================================================================*/
/* ====================================================================================================================
/* Mixins,
/* All functions and cross browser stuff should be here
/* ====================================================================================================================*/
/* ====================================================================================================================
/* reset css
/* ====================================================================================================================*/
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:600&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0; }

li {
  list-style: none; }

caption,
th {
  text-align: left; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
video {
  display: block; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

i {
  font-style: normal; }

a:link,
a:visited,
a:active,
a:focus,
a:hover,
button {
  outline: 0; }

picture > img {
  display: block; }

/* ====================================================================================================================
/* Grid
/* ====================================================================================================================*/
.section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px 16px;
  max-width: 1440px; }
  .section:after {
    content: '';
    display: table;
    clear: both; }
  .section-fullwidth {
    max-width: 100%; }
    .section-fullwidth .row {
      max-width: 1440px;
      float: none;
      margin: 0 auto; }

.row {
  width: 100%;
  float: left;
  margin: 0 auto; }

.col {
  width: 100%;
  float: left; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%; }

@media (min-width: 769px) {
  .section {
    padding: 40px 60px; } }

@media (min-width: 481px) {
  .col-3-sm {
    width: 25%; }
    .col-3-sm.col {
      width: calc(25% - 20px); }
  .col-4-sm {
    width: 33.33%; }
    .col-4-sm.col {
      width: calc(33.33% - 20px); }
  .col-6-sm {
    width: 50%; }
    .col-6-sm.col {
      width: calc(50% - 20px); }
  .col-8-sm {
    width: 66.66%; }
    .col-8-sm.col {
      width: calc(66.66% - 20px); } }

@media (min-width: 769px) {
  .row {
    margin-left: -10px; }
    .row:after {
      content: '';
      display: table;
      clear: both; }
  .col {
    margin-left: 20px; }
  .col-1 {
    width: 8.33%; }
    .col-1.col {
      width: calc(8.33% - 20px); }
  .col-2 {
    width: 16.66%; }
    .col-2.col {
      width: calc(16.66% - 20px); }
  .col-3 {
    width: 25%; }
    .col-3.col {
      width: calc(25% - 20px); }
  .col-4 {
    width: 33.33%; }
    .col-4.col {
      width: calc(33.33% - 20px); }
  .col-5 {
    width: 41.66%; }
    .col-5.col {
      width: calc(41.66% - 20px); }
  .col-6 {
    width: 50%; }
    .col-6.col {
      width: calc(50% - 20px); }
  .col-7 {
    width: 58.33%; }
    .col-7.col {
      width: calc(58.33% - 20px); }
  .col-8 {
    width: 66.66%; }
    .col-8.col {
      width: calc(66.66% - 20px); }
  .col-9 {
    width: 75%; }
    .col-9.col {
      width: calc(75% - 20px); }
  .col-10 {
    width: 83.33%; }
    .col-10.col {
      width: calc(83.33% - 20px); }
  .col-11 {
    width: 91.66%; }
    .col-11.col {
      width: calc(91.66% - 20px); }
  .col-12 {
    width: 100%; }
    .col-12.col {
      width: calc(100% - 20px); }
  .offset-1 {
    margin-left: calc(8.33% + 20px); }
  .offset-2 {
    margin-left: calc(16.66% + 20px); }
  .offset-3 {
    margin-left: calc(25% + 20px); }
  .offset-4 {
    margin-left: calc(33.33% + 20px); }
  .offset-5 {
    margin-left: calc(41.66% + 20px); }
  .offset-6 {
    margin-left: calc(50% + 20px); }
  .offset-7 {
    margin-left: calc(58.33% + 20px); }
  .offset-8 {
    margin-left: calc(66.66% + 20px); }
  .offset-9 {
    margin-left: calc(75% + 20px); }
  .offset-10 {
    margin-left: calc(83.33% + 20px); }
  .offset-11 {
    margin-left: calc(91.66% + 20px); }
  .offset-12 {
    margin-left: calc(100% + 20px); } }

/* ====================================================================================================================
/* Grids
/* ====================================================================================================================*/
@font-face {
  font-family: icomoon;
  src: url("webfonts/icomoon.eot");
  src: url("webfonts/icomoon.eot") format("embedded-opentype"), url("webfonts/icomoon.ttf") format("truetype"), url("webfonts/icomoon.woff") format("woff"), url("webfonts/icomoon.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 24px;
  height: 24px;
  line-height: 0;
  font-size: 24px;
  position: relative; }

.icon-down:before {
  content: "\e90d"; }

.icon-cta:before {
  content: "\e902"; }

.icon-bin:before {
  content: "\e900"; }

.icon-check:before {
  content: "\e901"; }

.icon-facebook:before {
  content: "\e903"; }

.icon-linkedin:before {
  content: "\e904"; }

.icon-no-feature:before {
  content: "\e905"; }

.icon-repeat:before {
  content: "\e906"; }

.icon-send:before {
  content: "\e907"; }

.icon-success:before {
  content: "\e908"; }

.icon-twitter:before {
  content: "\e909"; }

.icon-upload:before {
  content: "\e90a"; }

.icon-warning:before {
  content: "\e90b"; }

.icon-xing:before {
  content: "\e90c"; }

.icon-menu:before {
  content: "\e90f"; }

.icon-tel:before {
  content: "\e90e";
  width: 24px;
  height: 24px;
  line-height: 0;
  font-size: 24px;
  top: 4px;
  position: relative; }

.icon-menu {
  top: 22px;
  left: 6px; }

/* ====================================================================================================================
/* Typography
/* ====================================================================================================================*/
body {
  overflow-x: hidden;
  font-family: 'Lato', Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #fff;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
a.btn {
  font-family: 'Montserrat', Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: 600; }

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 600;
  color: #3f3f3f; }

h1,
.h1 {
  font-size: 40px;
  line-height: 48px; }
  @media (min-width: 769px) {
    h1,
    .h1 {
      font-size: 48px;
      line-height: 56px; } }

h2,
.h2 {
  font-size: 28px;
  line-height: 32px; }
  @media (min-width: 769px) {
    h2,
    .h2 {
      font-size: 40px;
      line-height: 48px; } }

h3,
.h3 {
  font-size: 32px;
  line-height: 40px; }

h4,
.h4 {
  font-size: 24px;
  line-height: 32px; }

h5,
.h5 {
  font-size: 20px;
  line-height: 32px; }

p,
input,
li,
select,
textarea {
  font-size: 20px;
  line-height: 32px;
  color: #333; }

.small-note {
  font-size: 16px;
  line-height: 32px; }

/* Text markup */
a {
  color: #324380;
  text-decoration: none;
  cursor: pointer; }

p > a:not(.btn),
strong a,
.listed-link a {
  display: inline;
  position: relative;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  p > a:not(.btn):before,
  strong a:before,
  .listed-link a:before {
    content: '';
    background: #324380;
    display: block;
    position: absolute;
    height: 2px;
    bottom: -2px;
    left: -3px;
    right: -3px;
    z-index: -1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  p > a:not(.btn):hover,
  strong a:hover,
  .listed-link a:hover {
    color: #fff;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    p > a:not(.btn):hover:before,
    strong a:hover:before,
    .listed-link a:hover:before {
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      background: #f76c6c;
      height: 100%; }

label {
  font-size: 14px;
  line-height: 20px; }

ul li,
ol li {
  padding: 4px 0 0;
  margin: 0 0 0 32px;
  list-style-type: none; }

ul.numbered li,
ol.numbered li {
  list-style: decimal; }

ul.disc li,
ol.disc li {
  list-style: disc; }

ul.menu li,
ol.menu li {
  margin-left: 0;
  font-size: 16px;
  line-height: 24px;
  padding: 0; }

p + h3 {
  margin-top: 24px; }

p + h4 {
  margin-top: 16px; }

h2 + p,
h3 + p,
h4 + p {
  margin-top: 8px; }

h1 + h2,
h1 + p {
  margin-top: 24px; }

img {
  line-height: 0; }

/* ====================================================================================================================
/* Backgrounds
/* ====================================================================================================================*/
.bg-dark {
  background: #27335c;
  padding: 8px;
  text-align: center; }
  .bg-dark p {
    color: #fff; }

.bg-normal {
  background: #324380;
  padding: 8px;
  text-align: center; }
  .bg-normal p {
    color: #fff; }

/* ====================================================================================================================
/* Borders
/* ====================================================================================================================*/
/* ====================================================================================================================
/* Colors
/* ====================================================================================================================*/
.emphasized, .numbers li:before, .menu a {
  font-weight: 600; }

.cancelled {
  text-decoration: line-through; }

.taj {
  text-align: justify; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.float-r {
  float: right; }

.float-l {
  float: left; }

.vam {
  vertical-align: middle; }

.dis-block {
  display: block; }

@media (min-width: 769px) {
  .flex-vam {
    display: flex;
    align-items: center; } }

p[id] {
  margin: -80px 0 0;
  padding: 80px 0 0; }

/* ====================================================================================================================
/* Margins
/* ====================================================================================================================*/
.mtn,
.mvn,
.man {
  margin-top: 0; }

.mts,
.mvs,
.mas {
  margin-top: 4px; }

.mtm,
.mvm,
.mam {
  margin-top: 8px; }

.mtl, .js-remove-block .col.ten.offset-by-one,
.mvl,
.mal {
  margin-top: 20px; }

.mtxl,
.mvxl,
.maxl {
  margin-top: 40px; }

.mrn,
.man {
  margin-right: 0; }

.mrs,
.mas {
  margin-right: 4px; }

.mrm,
.mam {
  margin-right: 8px; }

.mrl,
.mal {
  margin-right: 20px; }

.mrxl,
.maxl {
  margin-right: 40px; }

.mbn,
.mvn,
.man {
  margin-bottom: 0; }

.mbs,
.mvs,
.mas {
  margin-bottom: 4px; }

.mbm,
.mvm,
.mam {
  margin-bottom: 8px; }

.mbl,
.mvl,
.mal {
  margin-bottom: 20px; }

.mbxl,
.mvxl,
.maxl {
  margin-bottom: 40px; }

.mln,
.man {
  margin-left: 0; }

.mls,
.mas {
  margin-left: 4px; }

.mlm,
.mam {
  margin-left: 8px; }

.mll,
.mal {
  margin-left: 20px; }

.mlxl,
.maxl {
  margin-left: 40px; }

/* ====================================================================================================================
/* Paddings
/* ====================================================================================================================*/
.ptn,
.pvn,
.pan {
  padding-top: 0; }

.pts,
.pvs,
.pas {
  padding-top: 4px; }

.ptm,
.pvm,
.pam {
  padding-top: 8px; }

.ptl,
.pvl,
.pal {
  padding-top: 20px; }

.ptxl,
.pvxl,
.paxl {
  padding-top: 40px; }

.prn,
.phn,
.pan {
  padding-right: 0; }

.prs,
.pas {
  padding-right: 4px; }

.prm,
.pam {
  padding-right: 8px; }

.prl,
.pal {
  padding-right: 20px; }

.prxl,
.paxl {
  padding-right: 40px; }

.pbn,
.pvn,
.pan {
  padding-bottom: 0; }

.pbs,
.pvs,
.pas {
  padding-bottom: 4px; }

.pbm,
.pvm,
.pam {
  padding-bottom: 8px; }

.pbl,
.pvl,
.pal {
  padding-bottom: 20px; }

.pbxl,
.pvxl,
.paxl {
  padding-bottom: 40px; }

.pln,
.pan {
  padding-left: 0; }

.pls,
.pas {
  padding-left: 4px; }

.plm,
.pam {
  padding-left: 8px; }

.pll,
.pal {
  padding-left: 20px; }

.plxl,
.paxl {
  padding-left: 40px; }

/* ====================================================================================================================
/* Header
/* ====================================================================================================================*/
.header {
  min-height: 60px;
  width: 100%;
  z-index: 99;
  background: #fff;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .header .row {
    min-height: 60px; }
    @media (min-width: 1001px) {
      .header .row {
        position: relative; } }
    @media (max-width: 999px) {
      .header .row {
        width: 100%; } }
  .header .section {
    padding-top: 0;
    padding-bottom: 0; }
  .header img {
    margin-top: 16px;
    height: 36px; }
    @media (min-width: 769px) {
      .header img {
        margin-top: 10px; } }

.svg-icon {
  width: 140px; }

@media (max-width: 979px) {
  .svg-illustration {
    max-height: 180px;
    width: auto;
    margin: 0 0 24px; } }

.index .svg-illustration {
  width: 100%; }
  @media (max-width: 979px) {
    .index .svg-illustration {
      height: auto;
      max-height: 200px !important;
      width: 100%; } }

svg {
  width: 100%; }

.references {
  height: 32px;
  margin: 0 20px 20px 0; }

/* ====================================================================================================================
/* Navigation
/* ====================================================================================================================*/
#navigation-mobile_checkbox,
#sub-service_checkbox,
#sub-karriere_checkbox,
#sub-academy_checkbox,
#sub-language_checkbox,
#sub-login_checkbox {
  display: none; }

#navigation-mobile_checkbox:checked ~ .navigation,
#sub-service_checkbox:checked ~ .perspective.sub-service,
#sub-karriere_checkbox:checked ~ .perspective.sub-karriere,
#sub-academy_checkbox:checked ~ .perspective.sub-academy,
#sub-language_checkbox:checked ~ .perspective.sub-language,
#sub-login_checkbox:checked ~ .perspective.sub-login {
  display: block; }

.bg-overlay {
  background: #333;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }
  @media (max-width: 979px) {
    .bg-overlay-active {
      position: fixed;
      left: 0;
      bottom: 0;
      right: 0;
      top: 70px;
      background: #333; } }

#navigation-mobile_checkbox:checked + label .icon-menu {
  color: #fff; }
  #navigation-mobile_checkbox:checked + label .icon-menu:before {
    color: #fff;
    content: "\e905"; }

.navigation {
  float: right;
  width: 100%;
  margin: 16px 0 0 -16px;
  display: none;
  z-index: 999;
  background: #324380;
  position: absolute; }
  .navigation-mobile {
    float: right;
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    background: #324380;
    color: #fff; }
    .navigation-mobile .icon-menu {
      top: 28px;
      left: -26px; }
    .navigation-mobile:before {
      display: none !important; }
  .navigation ul {
    float: left;
    width: 100%; }
    .navigation ul li {
      width: auto;
      border-bottom: none; }
  .navigation li {
    margin: 0;
    width: 100%;
    padding: 0;
    float: left;
    position: relative; }
  .navigation a {
    text-decoration: none;
    border-bottom: none;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 800;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    margin: 0 0 0 16px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .navigation a:after {
      content: '';
      display: block;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
  .navigation a label {
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .navigation i {
    display: inline-block;
    font-size: 18px;
    float: right;
    position: relative;
    right: -16px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transform: translate3d(-8px, 20px, 0);
    -o-transform: translate3d(-8px, 20px, 0);
    -ms-transform: translate3d(-8px, 20px, 0);
    -webkit-transform: translate3d(-8px, 20px, 0);
    transform: translate3d(-8px, 20px, 0); }
  .navigation li.sub-navigation > a {
    float: left;
    display: inline-block; }
    .navigation li.sub-navigation > a:after {
      content: '';
      display: inline-block; }
  .navigation li.sub-navigation ul {
    display: inline-block;
    width: auto; }
  .navigation li.sub-navigation:hover > a,
  .navigation li.sub-navigation:hover > a:hover {
    cursor: default; }
  .navigation li.sub-navigation-active:hover > a,
  .navigation li.sub-navigation-active:hover > a:hover {
    cursor: pointer; }
  .navigation li.login {
    position: static;
    top: 0;
    right: 0;
    display: block; }
    @media (min-width: 1001px) {
      .navigation li.login {
        display: none; } }
  .navigation li.language {
    display: none; }
    .navigation li.language-mobile {
      display: block; }
  @media (max-width: 999px) {
    .navigation li {
      border-top: 1px solid #d0d0d0; }
      .navigation li a {
        font-size: 18px; }
      .navigation li.sub-navigation > a {
        padding-bottom: 0;
        height: 42px; }
      .navigation li .perspective {
        display: none;
        background: #333; }
        .navigation li .perspective ul {
          width: 100%; }
          .navigation li .perspective ul li {
            width: 100%; }
        .navigation li .perspective a {
          font-size: 16px; } }
  @media (min-width: 1001px) {
    .navigation {
      margin: 0;
      width: auto;
      position: relative;
      display: block; }
      .navigation-top {
        display: block;
        top: -56px;
        right: -589px; }
        .navigation-top > li {
          float: right; }
          .navigation-top > li.languages {
            margin: 0 20px 0 24px; }
          .navigation-top > li.lands {
            padding: 0; }
            .navigation-top > li.lands a {
              padding: 0 0 0 8px; }
            .navigation-top > li.lands img {
              height: 16px;
              width: 20px;
              margin: 22px 0 0; }
      .navigation li.sub-navigation {
        position: relative; }
        .navigation li.sub-navigation > a:after {
          content: '';
          display: none; }
        .navigation li.sub-navigation ul {
          float: none;
          width: 100%; }
      .navigation li.language {
        display: block;
        position: absolute;
        top: -56px; }
        .navigation li.language-mobile {
          display: none; }
        .navigation li.language-de {
          right: -2px; }
          .navigation li.language-de:after {
            display: none; }
        .navigation li.language-fr {
          right: 62px; }
          .navigation li.language-fr:after {
            display: none; }
        .navigation li.language-en {
          right: 30px; }
          .navigation li.language-en:after {
            display: none; }
      .navigation-mobile {
        display: none; }
      .navigation li,
      .navigation ul li {
        margin: 0;
        padding: 0;
        width: auto; }
      .navigation a {
        margin: 0;
        padding: 0 16px;
        height: 60px;
        line-height: 56px; }
      .navigation label {
        font-size: 16px;
        height: 60px;
        line-height: 60px; }
      .navigation i {
        float: none;
        clear: both;
        display: inline-block;
        font-size: 18px;
        position: absolute;
        left: 50%;
        bottom: 0;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -moz-transform: translate3d(-8px, 20px, 0);
        -o-transform: translate3d(-8px, 20px, 0);
        -ms-transform: translate3d(-8px, 20px, 0);
        -webkit-transform: translate3d(-8px, 20px, 0);
        transform: translate3d(-8px, 20px, 0); }
      .navigation .perspective {
        position: absolute;
        display: block;
        top: 60px;
        left: 9000px;
        opacity: 0;
        width: 216px;
        line-height: 0;
        background: #324380;
        -webkit-perspective-origin: 10% 10%;
        /* Safari 4-8 */
        perspective-origin: 50% 0%;
        -moz-transition: opacity 0.3s, translate3d 0s, left 0s 0.3s;
        -o-transition: opacity 0.3s, translate3d 0s, left 0s 0.3s;
        -webkit-transition: opacity 0.3s, translate3d 0s, left 0s 0.3s;
        transition: opacity 0.3s, translate3d 0s, left 0s 0.3s; }
        .navigation .perspective img {
          width: 80%;
          margin: 0 auto 12px;
          height: auto;
          display: block; }
      .navigation ul {
        transform-origin: top center;
        border-top: none;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }
        .navigation ul li {
          width: 100%; }
          .navigation ul li a {
            text-align: left;
            height: auto;
            line-height: 48px;
            margin: 0;
            width: 100%;
            padding: 0 0 0 16px; }
          .navigation ul li:last-child a {
            border-bottom: none; }
      .navigation li:hover {
        background: #f76c6c !important;
        background: #27335c !important; }
        .navigation li:hover i {
          opacity: 0;
          bottom: -4px; }
        .navigation li:hover .perspective {
          opacity: 1;
          left: 0;
          -moz-transition: opacity 0.3s, translate3d 0s, left 0s 0s;
          -o-transition: opacity 0.3s, translate3d 0s, left 0s 0s;
          -webkit-transition: opacity 0.3s, translate3d 0s, left 0s 0s;
          transition: opacity 0.3s, translate3d 0s, left 0s 0s; }
          .navigation li:hover .perspective ul {
            -moz-transform: rotateX(0deg);
            -o-transform: rotateX(0deg);
            -ms-transform: rotateX(0deg);
            -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

.login {
  position: absolute;
  top: -56px;
  right: 0; }

/* ====================================================================================================================
/* Footer Navigation
/* ====================================================================================================================*/
.footer {
  border-top: 1px solid rgba(51, 51, 51, 0.2); }
  .footer h3 {
    color: #333; }
  .footer img {
    height: 56px;
    margin: 16px 0 20px; }
  .footer .menu li {
    float: left;
    margin: 0 12px 4px 0; }
    @media (max-width: 979px) {
      .footer .menu li {
        width: 100%; } }
  @media (min-width: 601px) and (max-width: 979px) {
    .footer .three {
      width: calc(50% - 16px); } }

.social-icons li {
  width: auto !important; }

.social-icons a {
  display: block;
  width: 36px;
  height: 36px;
  position: relative;
  background: #fff;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*

    &:before {
      background-position-y: 0;
    }

    &:after {
      opacity: 0;
      background-position-y: -36px;
    }

    &:hover {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }

    */ }
  .social-icons a:before, .social-icons a:after {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    background: url("../img/svg/footer-icon-2.svg");
    background-position-y: -36px;
    background-position-x: inherit;
    position: absolute; }
  .social-icons a:hover {
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -webkit-transition: all 0.15s;
    transition: all 0.15s; }
  .social-icons a.facebook {
    background-position-x: 0;
    background-position-y: 4px; }
    .social-icons a.facebook:hover {
      background-color: #3b5999;
      border-color: #3b5999; }
  .social-icons a.twitter {
    background-position-x: -36px; }
    .social-icons a.twitter:hover {
      background-color: #55acee;
      border-color: #55acee; }
  .social-icons a.youtube {
    background-position-x: -72px; }
    .social-icons a.youtube:hover {
      background-color: #cd201f;
      border-color: #cd201f; }
  .social-icons a.instagram {
    background-position-x: -108px; }
    .social-icons a.instagram:hover {
      background-color: #e4405f;
      border-color: #e4405f; }
  .social-icons a.xing {
    background-position-x: -144px; }
    .social-icons a.xing:hover {
      background-color: #126567;
      border-color: #126567; }
  .social-icons a.linkedin {
    background-position-x: -180px; }
    .social-icons a.linkedin:hover {
      background-color: #0077B5;
      border-color: #0077B5; }

/* ====================================================================================================================
/* Buttons
/* ====================================================================================================================*/
.btn {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  display: block;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  padding: 0 28px;
  background-color: #324380;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  position: relative;
  overflow: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  /*
    &-na {
      color: $color-font;
      background: $color-white;
      border-color: $color-font;

      &:hover {
        color: $color-white;
        background: $color-font;
        border-color: $color-font;
      }
    }

    &-active {
      cursor: default;
      @extend .btn-na;
    }



    &-ots {
      color: $color-white;
      background: $color-ots;
      border-color: $color-ots;

      &:hover {
        color: $color-white;
        background: tint($color-ots, 20%);
      }

      &:hover:active {
        background: $color-ots;
      }
    }

    &-zimpel {
      color: $color-na;
      background: $color-zimpel;
      border-color: $color-zimpel;

      &:hover {
        color: $color-na;
        background: tint($color-zimpel, 20%);
      }

      &:hover:active {
        background: $color-zimpel;
      }
    }

    &-webconnect {
      color: $color-white;
      background: $color-webconnect;
      border-color: $color-webconnect;

      &:hover {
        background: tint($color-webconnect, 20%);
      }

      &:hover:active {
        background: $color-webconnect;
      }
    }

    &-studio {
      color: $color-white;
      background: $color-studio;
      border-color: $color-studio;

      &:hover {
        background: tint($color-studio, 20%);
      }

      &:hover:active {
        background: $color-studio;
      }
    }

    &-international {
      color: $color-white;
      background: $color-international;
      border-color: $color-international;

      &:hover {
        background: tint($color-international, 20%);
      }

      &:hover:active {
        background: $color-international;
      }
    }


    &-blog {
      color: $color-white;
      background: $color-blog;
      border-color: $color-blog;

      &:hover {
        background: tint($color-blog, 20%);
      }

      &:hover:active {
        background: $color-blog;
      }
    }

  */ }
  .btn:before {
    position: absolute;
    bottom: 0;
    height: 0;
    right: 0;
    left: 0;
    content: '';
    display: block;
    background: #f76c6c;
    z-index: -1;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  @media (min-width: 769px) {
    .btn {
      font-size: 16px;
      height: 48px;
      line-height: 48px;
      padding: 0 28px; } }
  .btn .icon {
    top: 8px;
    left: 8px; }
  .btn [class^="icon-"],
  .btn [class*=" icon-"] {
    -moz-transition: left 0.35s;
    -o-transition: left 0.35s;
    -webkit-transition: left 0.35s;
    transition: left 0.35s; }
  .btn:hover {
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    .btn:hover [class^="icon-"],
    .btn:hover [class*=" icon-"] {
      -moz-transition: left 0.1s;
      -o-transition: left 0.1s;
      -webkit-transition: left 0.1s;
      transition: left 0.1s; }
    .btn:hover .icon {
      left: 16px; }
    .btn:hover:before {
      height: 100%;
      -moz-transition: all 0.1s;
      -o-transition: all 0.1s;
      -webkit-transition: all 0.1s;
      transition: all 0.1s; }
  .btn:active:before {
    height: 100%;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    background: #cc5a5a; }
  .btn-small {
    height: 40px;
    line-height: 36px;
    padding: 0 20px; }
  .event .btn {
    height: 40px;
    line-height: 36px;
    padding: 2px 16px;
    margin-left: 8px;
    color: #324380;
    border: 1px solid #324380;
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
    .event .btn:hover {
      color: #fff;
      border: 1px solid #f76c6c; }
  .btn-width-auto {
    min-width: 0; }
  @media (min-width: 1px) {
    .btn {
      display: inline-block; } }
  .btn-static {
    position: relative;
    background: #f76c6c;
    color: #fff;
    border: none;
    float: right;
    height: 60px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 60px; }
    .btn-static:hover {
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    @media (max-width: 479px) {
      .btn-static {
        display: none; } }
  .btn-textonly {
    background-color: transparent;
    border-width: 0;
    padding: 0; }
    .btn-textonly:hover {
      background-color: transparent;
      color: #333;
      text-decoration: underline;
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

/*** lists ***/
.feature li,
.no-feature li {
  padding: 0 0 0 36px;
  margin: 0 0 12px;
  position: relative; }
  .feature li:before,
  .no-feature li:before {
    font-family: icomoon !important;
    content: "\e901";
    position: absolute;
    font-size: 24px;
    top: -2px;
    left: 4px; }
  .feature li:last-child,
  .no-feature li:last-child {
    margin: 0; }
  .feature li.no-feature:before,
  .no-feature li.no-feature:before {
    content: "\e903"; }

.no-feature li:before {
  content: "\e905";
  top: 0; }

.bullets li {
  margin: 0;
  padding: 0 0 0 28px;
  position: relative; }
  .bullets li:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #333;
    position: absolute;
    left: 8px;
    top: 12px; }

.numbers {
  counter-reset: counter; }
  .numbers li {
    margin: 0 0 16px;
    padding: 0 0 0 28px;
    position: relative; }
    .numbers li:before {
      content: counter(counter);
      counter-increment: counter;
      position: absolute;
      left: 0;
      width: 24px;
      text-align: center; }

.tab {
  float: left;
  width: 100%;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(50, 67, 128, 0.2); }
  .tab li {
    float: left;
    padding: 8px 16px;
    margin: 0;
    border-top: 1px solid rgba(50, 67, 128, 0.2);
    border-right: 1px solid rgba(50, 67, 128, 0.2);
    position: relative;
    cursor: pointer; }
    .tab li:first-child {
      border-left: 1px solid rgba(50, 67, 128, 0.2); }
    .tab li.active:after {
      position: absolute;
      content: '';
      display: block;
      height: 4px;
      bottom: -2px;
      left: 0;
      right: 0;
      background: #fff; }

.menu li {
  float: left;
  margin: 0 12px 0 0; }

.menu.no-float li {
  float: none;
  width: 100%; }

.menu a {
  text-decoration: none; }

#list-uploads i {
  position: relative; }
  #list-uploads i:before {
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    position: absolute;
    top: 20px; }

/* ====================================================================================================================
/* Card
/* ====================================================================================================================*/
.card {
  position: relative;
  overflow: hidden;
  padding: 20px 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }
  @media (min-width: 769px) {
    .card {
      padding: 20px 28px; } }
  .card.card-top {
    background-color: #6ad1e3;
    padding-bottom: 0; }
    .card.card-top img {
      line-height: 0; }
  .card.card-saved {
    border: 1px solid rgba(50, 67, 128, 0.2);
    padding: 16px; }
    .card.card-saved h2 {
      margin-bottom: 16px; }
    .card.card-saved h3 {
      margin: 12px auto 8px; }
    .card.card-saved .col-left {
      border-right: 1px solid rgba(50, 67, 128, 0.2); }
  .card.card-trend {
    border: 1px solid rgba(50, 67, 128, 0.2);
    padding: 16px;
    background-color: #fff;
    margin-bottom: 48px; }
    .card.card-trend .col-6 {
      border-right: 1px solid rgba(50, 67, 128, 0.2);
      border-bottom: 1px solid rgba(50, 67, 128, 0.2); }
    .card.card-trend .col-no-right {
      border-right: none; }
    .card.card-trend .col-no-bottom {
      border-bottom: none; }
    .card.card-trend img {
      height: 16px;
      display: inline-block;
      margin: 8px auto 2px; }

.dropdown {
  cursor: pointer;
  padding: 8px 0;
  width: calc(100% - 40px);
  position: relative; }
  .dropdown:after, .dropdown:before {
    display: block;
    content: "❮";
    width: auto;
    float: right;
    position: absolute;
    right: -24px;
    left: auto;
    top: 50%;
    opacity: 0;
    -moz-transform: rotate(90deg) translate3d(-4px, 0, 0);
    -o-transform: rotate(90deg) translate3d(-4px, 0, 0);
    -ms-transform: rotate(90deg) translate3d(-4px, 0, 0);
    -webkit-transform: rotate(90deg) translate3d(-4px, 0, 0);
    transform: rotate(90deg) translate3d(-4px, 0, 0);
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .dropdown:before {
    -moz-transform: rotate(-90deg) translate3d(16px, 0, 0);
    -o-transform: rotate(-90deg) translate3d(16px, 0, 0);
    -ms-transform: rotate(-90deg) translate3d(16px, 0, 0);
    -webkit-transform: rotate(-90deg) translate3d(16px, 0, 0);
    transform: rotate(-90deg) translate3d(16px, 0, 0);
    right: -24px;
    opacity: 1; }
  .dropdown-open:after {
    -moz-transform: rotate(90deg) translate3d(-16px, 0, 0);
    -o-transform: rotate(90deg) translate3d(-16px, 0, 0);
    -ms-transform: rotate(90deg) translate3d(-16px, 0, 0);
    -webkit-transform: rotate(90deg) translate3d(-16px, 0, 0);
    transform: rotate(90deg) translate3d(-16px, 0, 0);
    opacity: 1; }
  .dropdown-open:before {
    -moz-transform: rotate(-90deg) translate3d(28px, 0, 0);
    -o-transform: rotate(-90deg) translate3d(28px, 0, 0);
    -ms-transform: rotate(-90deg) translate3d(28px, 0, 0);
    -webkit-transform: rotate(-90deg) translate3d(28px, 0, 0);
    transform: rotate(-90deg) translate3d(28px, 0, 0);
    opacity: 0; }
  .dropdown.title {
    padding: 0; }
  .dropdown-content {
    overflow: hidden;
    max-height: 1px;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    border-bottom: 1px solid #333;
    padding: 0; }
    .dropdown-content:last-child {
      border-bottom: none; }

.dropdown.title + .dropdown-content {
  border-bottom: none; }

h4.dropdown.title + p {
  margin-top: 0; }

.dropdown-open + .dropdown-content {
  max-height: 1000px;
  padding: 20px 0;
  -moz-transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.58, 1); }

.startup .dropdown-content {
  border: none; }

.startup p.dropdown-content {
  margin-top: 0; }

/* ====================================================================================================================
/* Forms
/* ====================================================================================================================*/
input,
textarea,
.select {
  background: #edf6fa;
  padding: 4px 8px;
  height: 48px;
  line-height: 48px;
  width: 100%;
  border: 1px solid rgba(51, 51, 51, 0.6);
  color: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

#site-search {
  width: 100%; }
  #site-search .btn {
    float: right;
    position: relative;
    top: -48px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #edf6fa inset !important; }

label {
  margin-top: 16px;
  cursor: pointer; }

label,
label > input,
label > textarea {
  display: block; }

label > input,
label > textarea,
label + .selectric-wrapper {
  margin-top: 4px; }

input[type='checkbox'] + label,
input[type='radio'] + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer; }

/* add custom inputs with :before */
input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #333;
  margin-right: 1em;
  box-shadow: inset 0 1px 1px 0 #333333; }

textarea,
input,
button,
select {
  outline: none; }

/* CHECKBOX */
input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0; }

.checkbox {
  position: relative;
  height: 20px;
  display: block;
  float: left;
  margin: 0 8px 24px 0;
  background: #fff;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .checkbox-hide {
    opacity: 0;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .checkbox .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    overflow: hidden;
    z-index: 1; }
    .checkbox .check:before {
      position: absolute;
      content: "";
      transform: rotate(45deg);
      display: block;
      margin-left: 6px;
      width: 6px;
      height: 14px;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
  .checkbox + h4 {
    position: relative;
    top: -4px; }
    .checkbox + h4 + p {
      margin: 0 0 28px;
      padding: 0 0 0 28px; }

input[type=checkbox]:checked + .checkbox {
  background: #333; }
  input[type=checkbox]:checked + .checkbox .check:before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff; }

/* RADIO */
.radio {
  background: #fff;
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 8px;
  border: 1px solid #333;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: -2px; }

input[type=radio]:checked + .radio {
  border: 8px solid #333; }

/* SELECT */
.select {
  color: #333;
  overflow: hidden;
  padding: 0;
  position: relative;
  cursor: pointer;
  margin-top: 4px; }
  .select:after {
    content: " ";
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    border: 4px solid #333;
    border-top: 4px solid transparent !important;
    border-left: 4px solid transparent !important;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    width: 110%;
    padding: 2px 8px 4px;
    height: 36px;
    cursor: pointer;
    color: #333; }
    .select select:focus {
      border: 0; }

textarea {
  min-height: 144px; }

.form-group-checkbox {
  padding-top: 24px;
  float: left; }
  .form-group-checkbox label {
    margin-top: 0; }

#contact {
  padding-top: 40px; }
  @media (min-width: 769px) {
    #contact {
      padding-top: 80px; } }

#captcha_refresh {
  top: -16px;
  cursor: pointer; }

#fileupload {
  display: none; }

#fake-upload:hover .icon {
  left: 8px; }

#fake-upload .icon {
  display: inline-block; }

#fake-upload .icon-repeat {
  animation: loading 2s linear infinite;
  transform-origin: 50% 0%; }

@keyframes loading {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg); } }

.js-remove-block {
  width: 100%;
  float: left; }
  .js-remove-block .col.ten.offset-by-one {
    border-top: 1px solid #333; }

.js-hide-me {
  display: none; }

.js-show-me {
  display: block; }

/* ====================================================================================================================
/* Videos
/* ====================================================================================================================*/
.responsive-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .responsive-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .responsive-container-podcast {
    position: relative;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 100%; }
    @media (min-width: 769px) {
      .responsive-container-podcast {
        width: 60%;
        padding-bottom: 60%; } }
    .responsive-container-podcast iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.packages {
  border: 1px solid #333;
  padding: 16px 24px 24px; }
  .packages-vip {
    background: #fff;
    padding: 32px 40px;
    width: calc(33.33% + 8px);
    margin: -28px 0 0 -8px; }
  .packages:first-child {
    border-right: none; }
  .packages:last-child {
    border-left: none; }

table {
  background: #fff;
  position: relative; }
  table tr {
    border-bottom: 1px solid rgba(50, 67, 128, 0.2); }
  table td {
    max-height: 52px;
    padding: 8px 0;
    overflow-y: hidden;
    /* Trigger vertical scroll    */
    overflow-x: auto; }

/* ====================================================================================================================
/* Debug
/* Just for testing
/* ====================================================================================================================*/
