.CommentListItem {
  padding: 16px;
  margin-bottom: 24px;
  width: 100%;
  background-color: $color-white;
  vertical-align: top;
  @include border-radius(4px);
  margin-left: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.CommentHeader {
  color: #acb4c2;
  font-size: 14px;
  font-weight: 600;
}
