.blog-tags {
  .btn {
    margin: 0 12px 12px 0;
    float: left;
  }

  span {
    background: $color-white;
    color: $color-font;
    line-height: 22px;

    padding: 2px 6px 0;
    margin-left: 12px;
    @include border-radius(11px);
  }
}
