.blog_pagination {
  overflow: hidden;
  width: 100%;
  margin: 28px auto;
}

ul.page-numbers {
  display: block;
  float: left;
  left: 50%;
  list-style: none;
  padding: 0;
  position: relative;

  li {
    display: block;
    float: left;
    right: 50%;
    position: relative;
    margin: 0 4px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 8px 0;
    color: $color-na;
  }

  a,
  span {
    background: $color-border;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: $color-white;
    padding: 8px 16px;
    @include border-radius(4px);
    @include transition(all .2s);
  }

  a:hover,
  .current {
    background-color: $color-na;
    color: $color-white;
  }
}
