.blog_search {
  float: right;
  position: relative;
  width: 100%;

  @include media('>mobile') {
    margin-left: 12px;
    width: 260px;
  }

  input {
    border: 1px solid $color-font;
    padding: 4px 54px 4px 8px;
  }

  button {
    background: $color-font;
    color: $color-white;
    border: 0;
    cursor: pointer;
    height: 36px;
    width: 48px;
    position: absolute;
    top: 0;
    right: 0;
    @include border-radius(0 4px 4px 0);

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
    }

    &:before {
      width: 20px;
      height: 20px;
      border: 2px solid $color-white;
      @include border-radius(10px);
      right: 12px;
      top: 6px;
    }

    &:after {
      height: 10px;
      width: 2px;
      right: 29px;
      top: 21px;
      @include border-radius(0 0 2px 2px);
      border: 2px solid $color-white;
      @include transform(rotate(45deg));
    }
  }

  i {
    font-size: 24px;
    line-height: 28px;
  }
}
