.blog_podcast_abo {

  @include media('>mobile', '<phablet') {
    width: 50% !important;
  }

  @include media('<mobile') {
    padding-bottom: 16px;
  }

   @include media('>tablet') {
    padding-left: 12px;
   }

  a {
    line-height: 36px;
    width: 100%;
    margin: 12px 0 6px;
    float: left;

    @include media('<mobile') {
      width: calc(50% - 8px);
    }

    @include media('>tablet') {
      width: calc(50% - 8px);
    }

    p {
      float: left;
      font-size: 16px;
      line-height: 24px;
      padding: 8px 0 0 8px;
    }

    img {
      float: left;
      display: inline-block;
    }
  }
}
