.blog-trenner {
  color: $color-white;

  @include media('>monitor') {
    @include border-radius(8px);
  }
}

.blog_categories {
  @extend .blog-trenner;
  background: url("/site-nade/assets/files/1075/bg-blog-chip.png");

}

.blog_mail {
  @extend .blog-trenner;
  background: url("/site-nade/assets/files/1075/bg-blog-mail.png");

  p {
    color: inherit !important;
  }
  form {
    padding-right: 16px;

    @include media('<tablet') {
      margin-left: 0 !important;
    }
  }

  .messages {
    margin-top: 8px;
  }

  .form-group-checkbox {
    a {
      color: $color-white;
      border-bottom: 1px solid $color-white;
    }
  }

  .notification-error {
    background: $color-error;
  }
}

.blog_abo {
  padding: 0 16px 0 0;
}

.blog_most-read {
  @extend .blog-trenner;
  margin-top: 0;
  margin-bottom: 16px;
  background: url("/site-nade/assets/files/1075/bg-blog-sky.svg") #333333;

  img {
    width: 200px;
  }

  li {
    font-size: 16px;
    line-height: 28px;
    border-bottom: 1px solid $color-border;
    padding: 0 8px;
    margin: 0 0 0 16px;
    float: left;
    width: calc(100% - 48px);
    color: $color-white;

    @include media('>tablet') {
      margin: 0 12px;
      width: 100%;
    }

    &:before {
      counter-increment: li;
      display: inline-block;
      content: attr(data-list);
      width: 20px;
      margin-right: 8px;
      float: left;
      font-weight: 600;
      padding: 12px 0;
      height: 100%;
      @include transition(color .2s);
    }

    &:hover {
      &:before {
        color: $color-blog;
      }
    }

    a {
      color: inherit;
      display: inline-block;
      width: calc(100% - 28px);
      float: left;
      font-weight: 600;
      padding: 12px 0;
      @include transition(color .2s);

      &:hover {
        color: $color-blog;
      }
    }

    @include media(">tablet") {
      font-size: 20px;
      line-height: 32px;
    }

    &:last-child {
      border: 0;
    }
  }
}
