/* ====================================================================================================================
/* Blog tabs navigation
/* ====================================================================================================================*/

.blog_menu {
  float: left;

  li {
    float: left;
    margin: 0 24px 0 0;
  }

  a {
    color: $color-inactive;
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
    @include transition(color .2s);

    &:hover {
      color: $color-font;
    }
  }

  .active {
    color: $color-font;
    background: $color-white;
    padding: 8px 16px;
    position: relative;

    &:after {
      content: '';
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      top: auto;
      left: 50%;
      border: 8px solid transparent;
      border-top-color: $color-white;
      @include transform(translate3d(-50%, 100%, 0));
    }
  }
}
