.blog_post-page {

  .head-post {
    position: relative;
    overflow: hidden;
    min-height: 380px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate3d(-50%, -50%, 0));

      &.loaded {
        top: 50%;
        bottom: 0;
        left: 50%;
        right: 0;
        height: 400px;
        width: auto;
        @include transform(translate3d(-50%, -50%, 0));

        @include media('>700px') {
          left: 0;
          width: 100%;
          height: auto;
          @include transform(translate3d(0, -50%, 0));
        }
      }
    }

    @include media('>tablet') {
      height: 480px;

      .header-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
          @include transform(translate3d(-50%, -100%, 0));
          &.loaded {
            @include transform(translate3d(0, -50%, 0));
          }
        }

        &-podcast {
          img {
            top: 50%;
            left: 50%;
            width: auto;
            @include transform(translate3d(-50%, -50%, 0));
          }
        }
      }
    }

    @include media('>phablet') {
      height: 560px;
    }

    @include media('>monitor') {
      height: 660px;
    }
  }

  .body-post {
    background: $color-white;
    padding: 0 16px 20px 16px;
    @include border-radius(4px);
    @include shadow(0 2px 8px rgba($color-na, .1), 0 2px 8px rgba($color-na, .16));
    position: relative;
    margin-top: -80px;

    @include media('>tablet') {
      padding: 0 28px 20px 28px;
    }

    ul:not(.menu) {
      li {
        position: relative;

        &:before {
          content: '';
          width: 8px;
          height: 8px;
          background: $color-font;
          display: block;
          position: absolute;
          top: 15px;
          left: -20px;
          @include border-radius(4px);
        }
      }
    }

    ol {
      li {
        position: relative;
        list-style: decimal;
        // counter-increment: item;
        // &:before {
        //  font-weight: bold;
        //  text-align: right;
        //  content: counter(item);
        //  font-size: 16px;
        //  //width: 8px;
        //  //height: 8px;
        //  //background: $color-font;
        //  display: block;
        //  position: absolute;
        //  top: 4px;
        //  left: -20px;
        //  @include border-radius(4px);
        // }
      }
    }

    @include media('>tablet') {
      @include transform(translate3d(-28px, 0, 0));
      margin-top: -80px;
    }

    @include media('>phablet') {
      width: calc(66.66% + 64px);
      @include transform(translate3d(-28px, 0, 0));
      margin-top: -160px;
    }

    @include media('>tablet', '<phablet') {
      &.eight.col {
        width: calc(100% - 146px);
      }

      &.offset-by-two {
        margin-left: 100px;
      }
    }

    p {
      margin-top: 20px;
      color: inherit;
    }

    h1 {
      font-size: 32px;
      line-height: 40px;
      margin-top: 20px;

      @include media('>tablet') {
        font-size: 40px;
        line-height: 56px;
        margin-top: 32px;
      }
    }

    h2 {
      font-size: 24px;
      line-height: 36px;
      color: inherit;
    }

    h3 {
      margin-top: 20px;
      margin-bottom: 12px;
    }

    strong {
      color: inherit;
    }

    table {
      margin: 24px 0;

      th {
        @extend h3;
      }

      tr:not(:first-child) {
        border-bottom: 2px solid $color-border;
      }

      td {
        &:first-child {
          float: right;
          padding-right: 12px;
          @extend h4;
          margin-top: 0;
          white-space: nowrap;
        }

        padding-top: 8px;
        padding-bottom: 8px;
        @extend p;
      }
    }

    .alignleft,
    .alignnone,
    .aligncenter,
    .alignright {
      text-align: center;
      margin: 12px auto;

      p {
        text-align: left;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    @include media('>mobile') {
      .alignleft,
      .alignright {
        margin-top: 8px;
        margin-bottom: 16px;

        &.four {
          width: 33.33%;
        }

        &.five {
          width: 41.66%;
        }

        &.seven {
          width: 58.33%;
        }
      }
        .alignleft{
          margin-right: 20px;
          float: left;
        }

        .alignright {
          margin-left: 20px;

          float: right;
        }


    }

    @include media('>tablet') {
      .alignleft {
        background: $color-white;
        margin-right: 40px;
        margin-left: -15%;
        max-width: 100%;

        img {
          width: 100%;
          height: auto;
        }

        p {
          margin-top: 0;
          padding: 8px;
        }
      }

      .alignright {
        float: right;
        background: $color-white;
        margin-left: 40px;
        margin-right: -15%;
        max-width: 100%;

        img {
          width: 100%;
          height: auto;
        }

        p {
          margin-top: 0;
          padding: 8px;
        }
      }

      .aligncenter {
        text-align: center;
        margin: 24px auto;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.blog-headline {
  font-size: 32px;
  line-height: 44px;
}
