$ease-transition: cubic-bezier(.55, .09, .68, .53);

.body-blog {
  padding-top: 52px;

  @include media('>1000px') {
    padding-top: 100px;
  }

  .three {
    @include media('>mobile', '<phablet') {
      width: 50% !important;

      .eight {
        width: 66.66%;
      }
    }

  }
}

.row-blog {
  width: calc(100% + 12px);
}

.row-hero-blog {
  display: table;

  .table-cell {
    display: table-row;
    width: 100%;
    vertical-align: top;
  }

  .table-cell_left,
  .table-cell_right {
    width: 100%;
  }

  @include media('>mobile', '<phablet') {
    .table-cell_left .blog_post-first {
      width: 100% !important;

      .blog_post-bg {
        height: 300px;
      }
    }
  }

  @include media('>phablet') {

    .table-cell {
      display: table-cell;
    }

    .table-cell_left {
      width: 66.66%;
    }

    .table-cell_right {
      width: 33.33%;
    }

    .blog_post {
      display: table-cell;
      vertical-align: top;
      width: 100% !important;
    }

    .blog_post-first {
      height: 100%;

      .blog_post-bg {
        height: 430px;
      }

    }
  }

  @include media('>phablet', '<1052px') {
    .blog_post-first {
      .blog_post-bg {
        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }

}

//TRENNER

.mob-to-pha {
  display: none;
  @include media('>mobile', '<phablet') {
    display: block;
  }
}

.upto-pha {
  display: none;
  @include media('>phablet') {
    display: block;
  }
}

.blog_post {
  position: relative;
  margin-bottom: 16px;
  @include border-radius(4px);
  @include transition(all .2s);
  padding: 0 12px 0 0;

  @include media('>tablet') {
    padding: 0 12px;
  }

  @include media('>mobile', '<phablet') {
    width: 50% !important;
  }

  &-shadow {
    @include shadow(0 0 0 $color-pearl);
    float: left;
    width: 100%;
    @include border-radius(4px);
    @include transition(all .2s);
  }

  &-bg {
    height: 160px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
    @include transition(all .2s);
    @include border-radius(4px 4px 0 0);
    background-color: $color-pearl;

    img {
      left: 50%;
      top: 50%;
      @include transition(opacity .2s);
      position: absolute;
      @include transform(translate3d(-50%, -50%, 0));
    }

    img.loaded {
      height: auto;
      width: 120%;
      -webkit-animation: appearAnimation .3s $ease-transition;
      -moz-animation: appearAnimation .3s $ease-transition;
      animation: appearAnimation .3s $ease-transition;
    }
  }

  &-body {
    @include transition(all .2s);
    width: auto;
    max-width: 100%;
    float: left;
    padding: 8px 8px 12px 8px;

    @include media('>tablet') {
      padding: 8px 0 12px 4px;
    }

    h2 {
      font-size: 18px;
      line-height: 28px;
      color: rgba($color-font, .88);
      @include transition(color .2s);
    }

    p {
      @extend .emphasized;
      font-size: 14px;
      color: rgba($color-font, .3);
      margin-top: 0;

      span {
        color: $color-blog;
      }
    }

    h4 {
      @extend .emphasized;
      font-size: 14px;
      color: rgba($color-font, .3);
      margin-top: 0;
    }
  }

  &:hover {
    z-index: 20;

    @include media('>tablet') {
      padding: 0;
    }

    .blog_post-shadow {

      @include shadow(0 8px 12px rgba($color-na, .2), 0 8px 12px rgba($color-na, .3));
    }

    .blog_post-body {
      @include media('>tablet') {
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    .blog_post-body h2 {
      color: $color-blog;
    }
  }
}

@-webkit-keyframes appearAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes appearAnimation {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
