.click-to-tweet {
  display: inline-block;
  @include border-radius(4px);
  padding: 12px 16px;
  width: 100%;
  border: 2px solid #e6ecf0;
  text-align: center;
  background: url('/site-nade/assets/files/1075/twitter-bird.svg') top right no-repeat;
  background-position: right 12px top 12px;
  margin: 8px 0 28px;

  &-text {
    display: inline-block;
    width: 100%;
    text-align: left;

    a {
      background: rgba($color-white, .5);
    }

    &:before,
    &:after {

      display: inline-block;
      content: '“ '
    }

    &:after {
      content: '”'
    }
  }

  &-btn {
    display: inline-block;
    padding: 8px 16px;
    @include border-radius(4px);
    font-size: 16px;
    font-weight: 600;
    color: $color-white;
    margin: 8px auto;
    background-color: #0081ce; /* fallback color */
    background: -moz-linear-gradient(top, #00aced 70%, #2497d4);
    background: -ms-linear-gradient(top, #00aced 70%, #2497d4);
    background: -webkit-linear-gradient(top, #00aced 70%, #2497d4);
    border: 1px solid #0081ce;
    text-shadow: 0 -1px -1px #005ea3;

    &:hover {
      background-color: #00aced; /* fallback color */
      background: -moz-linear-gradient(top, #2497d4, #00aced 30%);
      background: -ms-linear-gradient(top, #2497d4, #00aced 30%);
      background: -webkit-linear-gradient(top, #2497d4, #00aced 30%);
    }
  }
}
