.guide-body {
  //margin: 0 0 0 250px;
  background: rgba($color-primary, .1);
}

.title {
  text-align: center;
}



.styleguide-page {
  background-color: $color-white;
  @include border-radius(4px);
  padding: $unit*2;

  @include media('>tablet') {
    padding: $unit*2.5;
  }
}

pre {
  margin-bottom: 12px;
  overflow: auto;
  text-align: left;
  max-height: 600px;
  background: black;
  white-space: nowrap;
  @include border-radius(8px);
  padding: 20px 28px;
}

code {
  font-family: 'courier New', courier, 'lucida sans typewriter', 'lucida typewriter', monospace;
  padding: 0;
  color: #fff;
}
