#navigation-styleguide_checkbox {
  display: none;
}

#navigation-styleguide_checkbox:checked ~ #navigation-styleguide, {
  left: 0;
}

.bg-overlay {
  background: $color-font;
  @include transition(background .2s);

  &-active {
    @include media('<phablet') {
      position: fixed;
      left: 0;
      bottom: 0;
      right: 0;
      top: 70px;
      background: $color-font;
    }
  }
}

.navigation-styleguide {
  display: block;
  z-index: 100;
  float: left;
  height: $unit*7;
  background: $color-dark;
  position: absolute !important;
  @include transition(all .4s ease-in-out);

  .icon-menu {
    top: $unit*3;
    left: -22px;
  }
}

// BG OVERLAY

#navigation-styleguide_checkbox:checked + label {
  .icon-menu {
    color: $color-white;

    &:before {
      color: $color-white;
      content: "\e905";
    }
  }
}

#navigation-styleguide_checkbox:checked + .navigation-styleguide {
  margin-left: 250px;
}

.guide-nav {
  background: $color-dark;
  color: $color-white;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  max-height: 100vh;
  //overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
  padding: 16px 0 16px 16px;
  z-index: 100;
  @include transition(all .4s ease-in-out);

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul,
  li,
  a {
    width: 100%;
  }

  li {
    color: $color-white;
    font-size: $unit*2;
    line-height: $unit*3;

    &.guide-nav-sub {
      padding: $unit 0 0;
    }

    ul {
      margin: $unit 0 0 $unit*2;
    }
  }

  a {
    padding: $unit 0;
    display: block;
    border-bottom: 1px solid $color-white;
    color: $color-white;
    text-decoration: none;
    @include transition(padding-left .2s ease-out);

    &.status {

      &.status-1,
      &.status-2,
      &.status-3,
      &.status-4 {
        &:after {
          font-size: 12px;

          display: inline-block;
          margin: 0 0 0 $unit;
        }
      }

      &.status-1 {
        text-decoration: line-through;
        &:after {
          content: "to do";
        }
      }

      &.status-2 {
        &:after {
          content: "to be tested";
        }
      }

      &.status-3 {
        &:after {
          content: "css ready";
        }
      }

      &.status-4 {
        &:after {
          content: "documented";
        }
      }

    }

    &:hover {
      padding: $unit 0 $unit $unit;
    }
  }

  li ul li a {
    padding: $unit 0 $unit $unit;
  }

  li ul li:last-child a {
    border-bottom: 1px solid $color-white;
  }

  li ul li:first-child a {
    border-top: 1px solid $color-white;
  }
}
