.banner {
  position: fixed;
  right: 0;
  bottom: 0;
  background: $color-font;
  width: 100%;
  padding: 20px 16px 16px;
  z-index: 99;
  opacity: 1;
  transition: all .4s ease-out;

  .box {
    position: relative;
  }

  h3,
  a,
  i {
    color: $color-white;
  }

  h3 {
    margin-bottom: 4px;
  }

  i {
    top: 8px;
  }

  @include media('>tablet') {
    bottom: 100px;
    width: 260px;
  }
}

#banner_checkbox {
  display: none;
}

#banner_checkbox:checked ~ .banner {
  @include transform(translate3d(0,200px,0));
  opacity: 0;

  @include media('>tablet') {
    @include transform(translate3d(280px,0,0));
  }
}

.banner_checkbox {
  position: absolute;
  top: -50px;
  right: 0;
  background: $color-font;
  @include border-radius(50%);
  padding: 4px;

  i {
    font-size: 20px;
    top: 4px;
  }
}
