.benefit {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  float: left;

  img {
    height: 120px;
  }

  h3 {
    margin-top: 8px;
    text-align: left;
  }

  p {
    text-align: left;
  }

  @include media('>600px') {
    width: calc(50% - 16px);
    margin-left: 16px;
    margin-top: 40px;

    h3 {
      margin-top: 16px;
    }
  }

  @include media('>phablet') {
    width: calc(33.33% - 16px);
  }
}

.tablet-clear {
  @include media('>600px', '<phablet') {
    width: 100%;
    float: left;
  }
}

.monitor-clear {
  @include media('>phablet') {
    width: 100%;
    float: left;
  }
}