/* ====================================================================================================================
/* Buttons
/* ====================================================================================================================*/

.btn {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  display: block;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  padding: 0 28px;
  background-color: $color-primary;
  color: $color-white;
  //border: 1px solid $color-primary;
  //border-bottom: 4px $color-dark solid;
  @include border-radius(4px);
  border: none;
  position: relative;
  overflow: hidden;
  @include transform(translate3d(0, 0, 0));
  @include transition(all .35s);

  &:before {
    position: absolute;
    bottom: 0;
    height: 0;
    right: 0;
    left: 0;
    content: '';
    display: block;
    background: $color-active;
    z-index: -1;
    @include transition(all .35s);
  }

  @include media(">tablet") {
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding: 0 28px;
  }

  .icon {
    top: 8px;
    left: 8px;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    @include transition(left .35s);
  }

  &:hover {
    //background-color: $color-active;
    //border: 1px solid $color-active;
    //border-bottom: 4px solid $color-red-dark;
    //color: $color-white;
    @include transition(all .1s);

    [class^="icon-"],
    [class*=" icon-"] {
      @include transition(left .1s);
    }

    .icon {
      left: 16px;
    }

    &:before {
      height: 100%;
      @include transition(all .1s);
    }
  }

  &:active {
    &:before {
      height: 100%;
      @include transition(all .1s);
      background: $color-red-dark;
    }
  }

  // SMALLER CTA

  &-small {
    height: 40px;
    line-height: 36px;
    padding: 0 20px;
  }

  .event & {
    height: 40px;
    line-height: 36px;
    padding: $unit/4 $unit*2;
    margin-left: $unit;
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: $color-white;
    @include border-radius(20px);

    &:hover{
      color: $color-white;
      border: 1px solid $color-active;
    }
  }

  &-width-auto {
    min-width: 0;
  }

  // SERVICES'S BUTTONS
  /*
    &-na {
      color: $color-font;
      background: $color-white;
      border-color: $color-font;

      &:hover {
        color: $color-white;
        background: $color-font;
        border-color: $color-font;
      }
    }

    &-active {
      cursor: default;
      @extend .btn-na;
    }



    &-ots {
      color: $color-white;
      background: $color-ots;
      border-color: $color-ots;

      &:hover {
        color: $color-white;
        background: tint($color-ots, 20%);
      }

      &:hover:active {
        background: $color-ots;
      }
    }

    &-zimpel {
      color: $color-na;
      background: $color-zimpel;
      border-color: $color-zimpel;

      &:hover {
        color: $color-na;
        background: tint($color-zimpel, 20%);
      }

      &:hover:active {
        background: $color-zimpel;
      }
    }

    &-webconnect {
      color: $color-white;
      background: $color-webconnect;
      border-color: $color-webconnect;

      &:hover {
        background: tint($color-webconnect, 20%);
      }

      &:hover:active {
        background: $color-webconnect;
      }
    }

    &-studio {
      color: $color-white;
      background: $color-studio;
      border-color: $color-studio;

      &:hover {
        background: tint($color-studio, 20%);
      }

      &:hover:active {
        background: $color-studio;
      }
    }

    &-international {
      color: $color-white;
      background: $color-international;
      border-color: $color-international;

      &:hover {
        background: tint($color-international, 20%);
      }

      &:hover:active {
        background: $color-international;
      }
    }


    &-blog {
      color: $color-white;
      background: $color-blog;
      border-color: $color-blog;

      &:hover {
        background: tint($color-blog, 20%);
      }

      &:hover:active {
        background: $color-blog;
      }
    }

  */

  @include media(">0px") {
    display: inline-block;
  }

  &-static {
    position: relative;
    background: $color-active;
    color: $color-white;
    border: none;
    float: right;
    height: 60px;
    @include border-radius(0);
    line-height: 60px;

    &:hover {
      @include transform(translate3d(0, 0, 0));
    }

    @include media('<mobile') {
      display: none;
    }
  }

  &-textonly {
    background-color: transparent;
    border-width: 0;
    padding: 0;

    &:hover {
      background-color: transparent;
      color: $color-font;
      text-decoration: underline;
      @include transform(translate3d(0, 0, 0));
    }
  }
}
