.buzzwords p {
  display: inline-block;
  background: $color-white;
  padding: 4px 12px;
  margin: 0 16px 8px 12px;
  border: 1px solid $color-border;
  border-left: 0;
  position: relative;
  @include border-radius(0 6px 6px 0);

  &:before,
  &:after {
    content: "";
    float: left;
    position: absolute;
    @include border-radius(6px);
    @include transform(rotate(45deg));
  }

  &:before {
    background: $color-white;
    border: 2px solid $color-border;
    top: 3px;
    left: -17px;
    width: 34px;
    height: 34px;
    border-right: none;
    border-top: none;
    z-index: -1;
  }

  &:after {
    background: $color-border;
    height: 6px;
    width: 6px;
    top: 17px;
    left: -4px;
  }
}
