/* ====================================================================================================================
/* Card
/* ====================================================================================================================*/
.card {
  position: relative;
  overflow: hidden;
  padding: 20px 16px;
  @include border-radius($unit);

  @include media ('>tablet') {
    padding: 20px 28px;
  }

  &.card-top {
    background-color: $color-international;
    padding-bottom: 0;

    img {
      line-height: 0;
    }
  }

  &.card-saved {
    border: 1px solid rgba($color-primary, .2);
    padding: $unit*2;

    h2 {
      margin-bottom: $unit*2;
    }

    h3 {
      margin: $unit*1.5 auto $unit;
    }

    .col-left {
      border-right: 1px solid rgba($color-primary, .2);
    }
  }

  &.card-trend {
    border: 1px solid rgba($color-primary, .2);
    padding: $unit*2;
    background-color: $color-white;
    margin-bottom: $unit*6;

    .col-6 {
      border-right: 1px solid rgba($color-primary, .2);
      border-bottom: 1px solid rgba($color-primary, .2);
    }

    .col-no-right {
      border-right: none;
    }

    .col-no-bottom {
      border-bottom: none;
    }

    img {
      height: $unit*2;
      display: inline-block;
      margin: $unit auto $unit/4;
    }
  }
}
