// todo to remove
/*
.circle {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
  margin: 0 6px 0 0;
  @include border-radius(50%);

  @include media('>phablet') {
    top: -13px;
    left: -4px;
    margin: 0 2px 0 0;
  }
}

.titletext {
  @include media('>phablet') {
    font-size: 16px;
    position: relative;
    top: 6px;
    line-height: 20px;
    display: inline-block;
    height: 40px;
  }
}

.subtext {
  color: $color-font;
  font-weight: 500;
  margin: 4px 0 0;
  font-size: 14px;
  width: 100%;
  display: block;
  height: 14px;
  line-height: 14px;

  @include media('<phablet') {
    display: none;
  }
}
*/
