.dropdown {
  cursor: pointer;
  padding: 8px 0;
  width: calc(100% - 40px);
  position: relative;

  &:after,
  &:before {
    display: block;
    content: "❮";
    width: auto;
    float: right;
    position: absolute;
    right: -24px;
    left: auto;
    top: 50%;
    opacity: 0;

    @include transform(rotate(90deg) translate3d(-4px, 0, 0));
    @include transition(all .2s ease-out);
  }

  &:before {
    @include transform(rotate(-90deg) translate3d(16px, 0, 0));
    right: -24px;
    opacity: 1;
  }

  &-open:after {
    @include transform(rotate(90deg) translate3d(-16px, 0, 0));
    opacity: 1;
  }

  &-open:before {
    @include transform(rotate(-90deg) translate3d(28px, 0, 0));
    opacity: 0;
  }

  &.title {
    padding: 0;
  }

  &-content {
    overflow: hidden;
    max-height: 1px;
    @include transition(all .35s);
    border-bottom: 1px solid $color-font;
    padding: 0;

    &:last-child {
      border-bottom: none;
    }
  }
}

.dropdown.title + .dropdown-content {
  border-bottom: none;
}

h4.dropdown.title + p {
  margin-top: 0;
}

.dropdown-open + .dropdown-content {
  max-height: 1000px;
  padding: 20px 0;
  @include transition(all .5s cubic-bezier(0, 0, 0.58, 1));
}

.startup {
  .dropdown-content {
    border: none;
  }

  p.dropdown-content {
    margin-top: 0;
  }
}