/* ====================================================================================================================
/* Figure in Blog
/* ====================================================================================================================*/

figure {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: block;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  figcaption {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    padding: 8px;

    @include media('>tablet') {
      font-size: 16px;
      line-height: 24px;
    }
  }

  @include media('<tablet') {
    &.alignright,
    &.alignnone,
    &.alignleft,
    &.aligncenter {
      width: 100% !important;
    }
  }

  @include media('>tablet') {

    &.alignright {
      float: right;
      background: $color-white;
      margin-left: 40px;
      margin-right: -15%;
      margin-top: 24px;
      margin-bottom: 20px;
      max-width: 100%;
    }

    &.alignnone,
    &.alignleft {
      float: left;
      background: $color-white;
      margin-right: 40px;
      margin-left: -15%;
      margin-top: 24px;
      margin-bottom: 16px;
      max-width: 100%;
    }

    &.aligncenter {
      text-align: center;
      margin: 0 auto;
    }
  }
}

