//todo remove this chunk - old


.footer-icon {
  li {
    width: auto !important;
  }

  a {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;

    &.facebook {
      background-position-x: 0;
    }
    &.twitter {
      background-position-x: -36px;
    }
    &.youtube {
      background-position-x: -72px;
    }
    &.instagram {
      background-position-x: -108px;
    }
    &.xing {
      background-position-x: -144px;
    }
    &.linkedin {
      background-position-x: -180px;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      width: 36px;
      height: 36px;
      background: url("/site-nade/assets/files/1075/footer-icon.svg");
      background-position-y: -36px;
      background-position-x: inherit;
      position: absolute;
      @include transition(all .2s);
    }

    &:before {
      background-position-y: 0;
    }

    &:after {
      opacity: 0;
      background-position-y: -36px;
    }

    &:hover {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }
}