/* ====================================================================================================================
/* Footer Navigation
/* ====================================================================================================================*/
.footer {
  border-top: 1px solid rgba($color-font, .2);

  //background: $color-dark;

  h3 {
    color: $color-font;
  }

  h3,
  li,
  li a,
  p {
    //color: $color-white;
    //color: $color-font;
  }

  img {
    height: 56px;
    margin: 16px 0 20px;
  }

  .menu {
    li {
      float: left;
      margin: 0 12px 4px 0;

      @include media('<phablet') {
        width: 100%;
      }
    }
  }

  .three {
    @include media('>600px', '<phablet') {
      width: calc(50% - 16px);
    }
  }
}
