/* ====================================================================================================================
/* Forms
/* ====================================================================================================================*/
$background-form: #edf6fa;

input,
textarea,
.select {
  background: $background-form;
  padding: 4px 8px;
  height: 48px;
  line-height: 48px;
  width: 100%;
  border: 1px solid rgba($color-font, .6);
  color: $color-font;
  @include border-radius($unit/2);
}

#site-search {
  width: 100%;

  .btn {
    float: right;
    position: relative;
    top: -48px;
    @include border-radius(0 $unit/2 $unit/2 0)
  }
}

// ROUNDABOUT FOR CHROME
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $background-form inset !important;
}

label {
  margin-top: 16px;
  cursor: pointer;
}

label,
label > input,
label > textarea {
  display: block;
}

label > input,
label > textarea,
label + .selectric-wrapper {
  margin-top: 4px;
}

input.input-erroneous,
textarea.input-erroneous,
input[type='checkbox']:checked.input-erroneous + label:before,
input[type='checkbox']:not(:checked).input-erroneous + label:before {
  //border-color: $color-error;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

/* add custom inputs with :before */
input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid $color-font;
  margin-right: 1em;
  box-shadow: inset 0 1px 1px 0 rgba($color-font, 1);
}

textarea,
input,
button,
select {
  outline: none;
}

/* CHECKBOX */

// Hide native checkbox
input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
}

.checkbox {
  position: relative;
  height: 20px;
  display: block;
  float: left;
  margin: 0 8px 24px 0;
  background: $color-white;
  @include transition(all .2s);

  &-hide {
    opacity: 0;
    @include transition(all .3s);
  }

  .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $color-font;
    overflow: hidden;
    z-index: 1;

    &:before {
      position: absolute;
      content: "";
      transform: rotate(45deg);
      display: block;
      margin-left: 6px;
      width: 6px;
      height: 14px;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      @include transition(all .2s);
    }
  }

  + h4 {
    position: relative;
    top: -4px;

    + p {
      margin: 0 0 28px;
      padding: 0 0 0 28px;
    }
  }

}

input[type=checkbox]:checked + .checkbox {
  background: $color-font;

  .check:before {
    border-right: 2px solid $color-white;
    border-bottom: 2px solid $color-white;
  }
}

/* RADIO */

.radio {
  background: $color-white;
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 8px;
  border: 1px solid $color-font;
  @include border-radius(50%);
  @include transition(all .2s);
  margin-top: -2px;
}

input[type=radio]:checked + .radio {
  border: 8px solid $color-font;
}

/* SELECT */

.select {
  //border: 1px solid $color-font;
  //border: 1px solid $color-grey-dark;
  //background: $color-grey-light;
  color: $color-font;
  overflow: hidden;
  padding: 0;
  //background: $color-white;
  position: relative;
  cursor: pointer;
  margin-top: 4px;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    border: 4px solid $color-font;
    border-top: 4px solid transparent !important;
    border-left: 4px solid transparent !important;
    @include transform(rotate(45deg));
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    width: 110%;
    padding: 2px 8px 4px;
    height: 36px;
    cursor: pointer;
    color: $color-font;

    &:focus {
      border: 0;
    }
  }
}

textarea {
  min-height: 144px;
}

.has-error input,
.notification {
  //border-color: $color-error;
}

.messages {
  //color: $color-error;
}

.form-group-checkbox {
  padding-top: 24px;
  float: left;
  label {
    margin-top: 0;
  }
}

#contact {
  padding-top: 40px;

  @include media('>tablet') {
    padding-top: 80px;
  }
}

#captcha_refresh {
  top: -16px;
  cursor: pointer;
}

#fileupload {
  display: none;
}

#fake-upload {
  &:hover {
    .icon {
      left: 8px;
    }
  }
  .icon {
    display: inline-block;
  }
  .icon-repeat {
    animation: loading 2s linear infinite;
    transform-origin: 50% 0%;
  }
}

@keyframes loading {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(-359deg));
  }
}

////////////////////////////
// ZIMPEL FORM
////////////////////////////

.js-remove-block {
  width: 100%;
  float: left;
  .col.ten.offset-by-one {
    @extend .mtl;
    border-top: 1px solid $color-font;
  }
}

.js-hide-me {
  display: none;
}

.js-show-me {
  display: block;
}

