/* ====================================================================================================================
/* Header
/* ====================================================================================================================*/

.header {
  min-height: 60px;
  width: 100%;
  z-index: 99;
  background: $color-white;
  //border-bottom: 1px solid rgba($color-primary, .2);
  //position: fixed;
  //top: 0;
  @include transition(all .25s);



  .row {
    min-height: 60px;

    @include media('>1000px') {
      position: relative;
    }

    @include media('<1000px') {
      width: 100%;
    }
  }

  .section {
    padding-top: 0;
    padding-bottom: 0;
  }

  img {
    margin-top: 16px;
    height: $unit*4.5;

    @include media('>tablet') {
      margin-top: 10px;
    }
  }
}
