

.hero-image {
  padding-top: 60px !important;
  padding-bottom: 0 !important;
  position: relative;

  &-bg {
    @include media('<tablet') {
      padding-bottom: 80px !important;
    }
  }

  @include media('>phablet') {
    padding-top: 140px !important;
    padding-bottom: 40px;
  }

  .twelve.tac {
    font-size: 0;
  }

  img {
    height: auto;
    padding: 0;
    margin: 0 auto;
  }

  .btn {
    position: absolute;
    bottom: 20%;
    left: 58%;

    @include media('<tablet') {
      bottom: 4%;
      left: 50%;
      @include transform(translate3d(-50%, 0, 0));
    }
  }
}
