.icons-group {
  text-align: left;

  .svg-icon,
  h4,
  p {
    vertical-align: middle;
  }

  h4,
  p {
    text-align: left;
  }

  &-img,
  &-text {
    float: left;
  }

  .index & {
    &-text {
      width: calc(100% - 100px);
      padding: 0 0 36px 16px;
    }
  }

  .svg-icon {
    width: 100px;
  }

  @include media('>tablet') {
    text-align: center;
    padding: 0 16px;

    &:first-child {
      padding: 0 16px 0 0;
    }

    &:last-child {
      padding: 0 0 0 16px;
    }

    .index & {
      padding: 0 8px !important;

      &-img,
      &-text {
        width: 100%;
        float: none;
      }
    }

    &-img,
    &-text {
      width: 100%;
      float: none;
    }

    h4 {
      margin: 20px 0 0;
    }

    p {
      margin: 0;
    }

    .svg-icon {
      width: 120px;
    }
  }

  @include media('>desktop') {
    .svg-icon {
      width: 140px;
    }
  }
}
