/*** lists ***/

.feature li,
.no-feature li {
  padding: 0 0 0 36px;
  margin: 0 0 12px;
  position: relative;

  &:before {
    font-family: icomoon !important;
    content: "\e901";
    position: absolute;
    font-size: 24px;
    top: -2px;
    left: 4px;
  }

  &:last-child {
    margin: 0;
  }

  &.no-feature {
    &:before {
      content: "\e903";
    }
  }
}

.no-feature li {
  &:before {
    content: "\e905";
    top: 0;
  }
}

.bullets {

  li {
    margin: 0;
    padding: 0 0 0 28px;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      @include border-radius(4px);
      background: $color-font;
      position: absolute;
      left: 8px;
      top: 12px;
    }
  }
}

.numbers {
  counter-reset: counter;

  li {
    margin: 0 0 16px;
    padding: 0 0 0 28px;
    position: relative;

    &:before {
      content: counter(counter);
      counter-increment: counter;
      @extend .emphasized;
      position: absolute;
      left: 0;
      width: 24px;
      text-align: center;
    }
  }
}

.tab {
  float: left;
  width: 100%;
  margin-bottom: $unit*2;
  border-bottom: 1px solid rgba($color-primary, .2);

  li {
    float: left;
    padding: $unit $unit*2;
    margin: 0;
    border-top: 1px solid rgba($color-primary, .2);
    border-right: 1px solid rgba($color-primary, .2);
    position: relative;
    cursor: pointer;

    &:first-child {
      border-left: 1px solid rgba($color-primary, .2);
    }

    &.active {
      &:after {
        position: absolute;
        content: '';
        display: block;
        height: 4px;
        bottom: -2px;
        left: 0;
        right: 0;
        background: $color-white;
      }
    }
  }
}

.menu {
  li {
    float: left;
    margin: 0 12px 0 0;
  }

  &.no-float {
    li {
      float: none;
      width: 100%;
    }
  }

  a {
    @extend .emphasized;
    text-decoration: none;
  }
}

#list-uploads {

  i {
    position: relative;

    &:before {
      @include transition(color .3s);
      position: absolute;
      top: 20px;
    }
  }

  a:hover {
    i:before {
      //color: $color-blog;
    }
  }
}
