/* ====================================================================================================================
/* Navigation
/* ====================================================================================================================*/

#navigation-mobile_checkbox,
#sub-service_checkbox,
#sub-karriere_checkbox,
#sub-academy_checkbox,
#sub-language_checkbox,
#sub-login_checkbox {
  display: none;
}

#navigation-mobile_checkbox:checked ~ .navigation,
#sub-service_checkbox:checked ~ .perspective.sub-service,
#sub-karriere_checkbox:checked ~ .perspective.sub-karriere,
#sub-academy_checkbox:checked ~ .perspective.sub-academy,
#sub-language_checkbox:checked ~ .perspective.sub-language,
#sub-login_checkbox:checked ~ .perspective.sub-login {
  display: block;
}

.bg-overlay {
  background: $color-font;
  @include transition(background .2s);

  &-active {
    @include media('<phablet') {
      position: fixed;
      left: 0;
      bottom: 0;
      right: 0;
      top: 70px;
      background: $color-font;
    }
  }
}

// BG OVERLAY

#navigation-mobile_checkbox:checked + label {
  .icon-menu {
    color: $color-white;

    &:before {
      color: $color-white;
      content: "\e905";
    }
  }
}

.navigation {
  float: right;
  width: 100%;
  margin: 16px 0 0 -16px;
  display: none;
  z-index: 999;
  background: $color-primary;
  position: absolute;

  &-mobile {
    float: right;
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    background: $color-primary;
    color: $color-white;

    .icon-menu {
      top: 28px;
      left: -26px;
    }

    &:before {
      display: none !important;
    }
  }

  ul {
    float: left;
    width: 100%;

    li {
      width: auto;
      border-bottom: none;
    }
  }

  li {
    margin: 0;
    width: 100%;
    padding: 0;
    float: left;
    position: relative;
  }

  a {
    text-decoration: none;
    border-bottom: none;
    @include transition(all .3s);
    font-weight: 800;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    margin: 0 0 0 16px;
    height: 40px;
    line-height: 40px;
    color: $color-white;
    @include transition(all .3s);

    &:after {
      content: '';
      display: block;
      @include transition(all .2s);
    }
  }

  a label {
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  i {
    display: inline-block;
    font-size: 18px;
    float: right;
    position: relative;
    right: -16px;
    @include transition(all .3s);
    @include transform(translate3d(-8px, 20px, 0));
  }

  li.sub-navigation {
    > a {
      float: left;
      display: inline-block;

      &:after {
        content: '';
        display: inline-block;
      }
    }

    ul {
      display: inline-block;
      width: auto;
    }

    &:hover {
      > a,
      > a:hover {
        cursor: default;
      }
    }

    &-active {
      &:hover {
        > a,
        > a:hover {
          cursor: pointer;
        }
      }
    }
  }

  li.login {
    position: static;
    top: 0;
    right: 0;
    display: block;

    @include media('>1000px') {
      display: none;
    }
  }

  li.language {
    display: none;

    &-mobile {
      display: block;
    }
  }

  @include media('<1000px') {

    li {
      border-top: 1px solid $color-inactive;

      a {
        font-size: 18px;
      }

      &.sub-navigation > a {
        padding-bottom: 0;
        height: 42px;
      }

      .perspective {
        display: none;
        background: $color-font;

        ul {
          width: 100%;

          li {
            width: 100%;
          }
        }

        a {
          font-size: 16px;
        }
      }
    }

  }

  @include media('>1000px') {
    margin: 0;
    width: auto;
    position: relative;
    display: block;

    &-top {
      display: block;
      top: -56px;
      right: -589px;

      > li {
        float: right;

        &.languages {
          margin: 0 20px 0 24px;
        }

        &.lands {
          padding: 0;

          a {
            padding: 0 0 0 8px;
          }

          img {
            height: 16px;
            width: 20px;
            margin: 22px 0 0;
          }
        }
      }
    }

    li.sub-navigation {
      position: relative;
      > a {
        &:after {
          content: '';
          display: none;
        }
      }

      ul {
        float: none;
        width: 100%;
      }
    }

    li.language {
      display: block;
      position: absolute;
      top: -56px;

      &-mobile {
        display: none;
      }

      &-de {
        right: -2px;
        &:after {
          display: none;
        }
      }

      &-fr {
        right: 62px;
        &:after {
          display: none;
        }
      }

      &-en {
        right: 30px;
        &:after {
          display: none;
        }
      }
    }

    &-mobile {
      display: none;
    }

    li,
    ul li {
      margin: 0;
      padding: 0;
      width: auto;
    }

    a {
      margin: 0;
      padding: 0 16px;
      height: 60px;
      line-height: 56px;
    }

    label {
      font-size: 16px;
      height: 60px;
      line-height: 60px;
    }

    i {
      float: none;
      clear: both;
      display: inline-block;
      font-size: 18px;
      position: absolute;
      left: 50%;
      bottom: 0;
      @include transition(all .3s);
      @include transform(translate3d(-8px, 20px, 0));
    }

    .perspective {
      position: absolute;
      display: block;
      top: 60px;
      left: 9000px;
      opacity: 0;
      //width: 100%;
      width: 216px;
      line-height: 0;
      background: $color-primary;
      -webkit-perspective-origin: 10% 10%; /* Safari 4-8 */
      perspective-origin: 50% 0%;
      @include transition(opacity .3s, translate3d 0s, left 0s .3s);

      img {
        width: 80%;
        margin: 0 auto 12px;
        height: auto;
        display: block;
      }
    }

    ul {
      transform-origin: top center;
      border-top: none;
      @include transition(all .2s);

      li {
        width: 100%;

        a {
          text-align: left;
          height: auto;
          line-height: 48px;
          margin: 0;
          width: 100%;
          padding: 0 0 0 16px;
          //border-bottom: 1px solid $color-inactive;
        }

        &:last-child a {
          border-bottom: none;
        }
      }
    }

    li {

    }

    li:hover {
      background: $color-active !important;
      background: $color-dark !important;

      i {
        opacity: 0;
        bottom: -4px;
      }

      .perspective {
        opacity: 1;
        left: 0;
        @include transition(opacity .3s, translate3d 0s, left 0s 0s);

        ul {
          @include transform(rotateX(0deg));
        }
      }
    }
  }
}

.login {
  position: absolute;
  top: -56px;
  right: 0;
}
