.networks {
  a:not('.button') {
    cursor: pointer;
    @include transition(color .3s);

    &:hover {
      color: $color-blog;
    }
  }

  p {
    margin: 0 0 28px;
  }

  span {
    display: none;
  }

  img {
    width: 140px;
  }

  .four {
    line-height: 0;
    text-align: center;
    margin-bottom: 8px;
  }

  @include media('>650px') {
    width: calc(50% - 8px);
    &:nth-child(3) {
      margin-left: 16px;
    }
  }

  @include media('<monitor') {
    .four,
    .eight {
      width: 100%;
    }
  }

  @include media('>monitor') {
    .eight {
      padding-left: 16px;
    }
  }
}
