
.notification {
  overflow: hidden;
  position: relative;
  padding: 12px 16px 16px;
  @include border-radius(4px);
  @include transition(all .4s);

  p {
    color: $color-white;
    padding-left: 40px;
    margin-top: 4px;
  }

  &-error {
    background: tint($color-error, 25%);

    i {
      position: absolute;
      left: 16px;
      top: 32px;
    }
  }

  &-success {
    background: tint($color-success, 25%);
    p {
      padding-left: 36px;
    }

    i {
      position: absolute;
      left: 13px;
      top: 27px;
    }
  }

  &-hide {
    max-height: 0;
    padding: 0 8px;
  }

  &-show {
    max-height: 200px;
    padding: 16px 8px;
  }

  .blog_post-page & {
    h3, a {
      color: $color-white;
    }

    p {
    }

    &-success {
      padding-right: 24px;
      padding-left: 24px;

      p,
      h3 {
        padding-left: 0;
      }
    }
  }
}
