.packages {
  border: 1px solid $color-font;
  padding: 16px 24px 24px;

  &-vip {
    background: $color-white;
    padding: 32px 40px;
    width: calc(33.33% + 8px);
    margin: -28px 0 0 -8px;
  }

  &:first-child {
    border-right: none;
  }

  &:last-child {
    border-left: none;
  }
}
