.service {
  border-bottom: 1px solid $color-border;
  padding-top: 16px;
  padding-bottom: 16px;

  h3 {
    margin: 0;
    padding: 0;
  }

  h3,
  .btn {
    @include transition(all .6s);
  }

  &:hover {
    h3,
    .btn {
      @include transition(all .2s);
    }
  }

  &:last-child {
    padding-left: 4px;
    border: 0;
  }

  &-zimpel:hover {
    h3 {
      @extend .color-zimpel;
    }

    .btn {
      @extend .btn-zimpel;
    }
  }

  &-ots:hover {
    h3 {
      @extend .color-ots;
    }

    .btn {
      @extend .btn-ots;
    }
  }

  &-webconnect:hover {
    h3 {
      @extend .color-webconnect;
    }

    .btn {
      @extend .btn-webconnect;
    }
  }

  &-studio:hover {
    h3 {
      @extend .color-studio;
    }

    .btn {
      @extend .btn-studio;
    }
  }

  @include media('>tablet') {
    border-right: 1px solid $color-border;
    border-bottom: none;

    h3 {
      text-align: center;
    }
  }

}

.row .service:nth-child(1) {
  padding-right: 20px;
}
