.sidebar,
.mainbar {
  @include media('>tablet', '<desktop') {
    width: calc(83.33% - 16px) !important;
    margin-left: calc(8.33% + 16px);
  }
}

.mainbar {
  @include media('>1023px') {
    padding-right: 16px;
  }
}

.sidebar li {
  float: none;
  border-bottom: 1px solid $color-border;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;

  &:last-child {
    border: 0;
  }
}
