.social-icons {
  li {
    width: auto !important;
  }

  a {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    background: $color-white;
    //border: 1px solid $color-white;
    @include transition(all .4s);
    @include border-radius(4px);

    &:before,
    &:after {
      content: '';
      display: block;
      width: 36px;
      height: 36px;
      //background: url("/site-nade/assets/files/1075/footer-icon.svg");
      background: url("../img/svg/footer-icon-2.svg");
      background-position-y: -36px;
      background-position-x: inherit;
      position: absolute;
      //@include transition(all .2s);
    }

    &:hover {

      @include transition(all .15s);
    }

    &.facebook {
      background-position-x: 0;
      background-position-y: 4px;

      &:hover {
        background-color: #3b5999;
        border-color: #3b5999;
      }
    }

    &.twitter {
      background-position-x: -36px;

      &:hover {
        background-color: #55acee;
        border-color: #55acee;
      }
    }
    &.youtube {
      background-position-x: -72px;

      &:hover {
        background-color: #cd201f;
        border-color: #cd201f;
      }
    }
    &.instagram {
      background-position-x: -108px;

      &:hover {
        background-color: #e4405f;
        border-color: #e4405f;
      }
    }
    &.xing {
      background-position-x: -144px;

      &:hover {
        background-color: #126567;
        border-color: #126567;
      }
    }
    &.linkedin {
      background-position-x: -180px;

      &:hover {
        background-color: #0077B5;
        border-color: #0077B5;
      }
    }

    /*

    &:before {
      background-position-y: 0;
    }

    &:after {
      opacity: 0;
      background-position-y: -36px;
    }

    &:hover {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }

    */

  }
}
