
.svg-icon {
  width: 140px;
}

.svg-illustration {
  @include media('<phablet') {
    max-height: 180px;
    width: auto;
    margin: 0 0 24px;

  }

  .index & {
    width: 100%;
    @include media('<phablet') {
      height: auto;
      max-height: 200px !important;
      width: 100%;
    }
  }
}

svg {
  width: 100%;
}

.references {
  height: 32px;
  margin: 0 20px 20px 0;
}
