///////////////

table {
  background: $color-white;
  position: relative;

  tr {
    border-bottom: 1px solid rgba($color-primary, .2);
  }

  td {
    max-height: 52px;
    padding: $unit 0;
    overflow-y: hidden; /* Trigger vertical scroll    */
    overflow-x: auto;

    //&:first-child {
    //  border-right: 1px solid rgba($color-primary, .2);
    //  padding: 0 $unit;
    //  text-align: center;
    //}
  }
}
