//todo remove this chunk - old

/*----- TIMELINE ITEM -----*/

.event {
  padding-left: 28px;
  position: relative;
  list-style-type: none;
  margin: 0 0 2px;
  &:last-child {
    padding-bottom: 0;
  }

  @include media (">desktop") {
    padding: 0 0 0 40px;
    margin: 0 0 0 28px;
  }
}

/*----- TIMELINE INFO -----*/

.info {
  margin: -7px 0 12px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: left;
  width: 120px;

  .month & {
    @include media ("<tablet") {
      display: none;
    }
  }

  h4 {
    @include media (">mobile") {
      margin: -4px 0 0;
      text-align: right;
    }
  }

  @include media (">desktop") {
    margin: 0 0 24px;
    width: 33.33%;
  }
}

/*----- TIMELINE MARKER -----*/

.marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 18px;
  overflow: hidden;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
  }

  &:before {
    background: $color-inactive;
    border: 3px solid transparent;
    border-radius: 100%;
    height: 15px;
    top: 4px;

    width: 15px;
    @include transition(all .3s ease-in-out);

    @include media (">desktop") {
      left: 2px;
    }
  }
  &:after {
    background: $color-inactive;
    height: 350px;
    top: 24px;
    left: 6px;
    width: 3px;
    @include transition(all .3s ease-in-out);

    @include media (">desktop") {
      left: 8px;
    }
  }

  ul:last-child .event:last-child &:after {
    content: none;
  }
}

.event:not(.period):hover .marker:before {
  background: transparent;
  border: 3px solid $color-inactive;
}

/*----- TIMELINE CONTENT -----*/

.content {
  padding-bottom: 40px;

  .event:nth-child(odd) & .card,
  .event:nth-child(even) & .card {
    overflow: hidden;
    &:before {
      position: absolute;
      content: '';
      display: block;
      background: #fd8b77;
      width: 6px;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }

  .event:nth-child(even) & .card {
    &:before {
      background: #93a5fb;
    }
  }

  @include media (">desktop") {
    .card {
      margin-top: -20px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  span {
    display: block;
    text-align: center;
    margin-top: 16px;
  }
}

/*----- TIMELINE PERIOD -----*/

h2.period {
  padding: 40px 0 70px;
  position: relative;
  margin-left: 0;

  @include media (">desktop") {
    margin-left: -16px;
  }

  &:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    left: 0;
    bottom: 28px;
    position: absolute;
    border-top: 3px solid $color-inactive;
    border-bottom: 3px solid $color-inactive;

    @include media (">desktop") {
      left: 18px;
    }
  }

  &:after {
    content: "";
    height: 28px;
    top: auto;
    width: 3px;
    display: block;
    left: 6px;
    bottom: 0;
    position: absolute;
    background: $color-inactive;

    @include media (">desktop") {
      left: 24px;
    }
  }
}

/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/

@media (min-width: 768px) {

  .timeline {
    display: table;
  }

  .event {
    display: table-row;
    padding: 0;
  }

  .info,
  .marker,
  .content,
  .period .info {
    display: table-cell;
    vertical-align: top;
  }

  .marker {
    position: relative;
  }

  .content {
    padding-left: 20px;
  }

  .info {
    padding-right: 20px;
  }

  .period .title {
    position: relative;
    left: -44px;
  }
}

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/

.marker-outline {

  .marker {

    &:before {
      background: transparent;
      border-color: $color-inactive;
    }
  }

  .event:hover .marker:before {
    background: $color-inactive;
  }
}
