/* ====================================================================================================================
/* Videos
/* ====================================================================================================================*/

.responsive-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-podcast {
    position: relative;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 100%;

    @include media('>tablet') {
      width: 60%;
      padding-bottom: 60%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
